{% load i18n %}
<p>
    {% blocktrans trimmed with username=buyer.username %}
    Dear <strong>{{ username }}</strong>
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed with username=username price=book.accepted_offer.offered_price %}
        {{ username }} has accepted your offer of &pound;{{ price }} for {{ book }}!
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    To discuss the details of the transaction please respond to this email. Once you are all set, please click on the 'Finalise'
here: {% endblocktrans %}

    <a href="http://www.libraring.co.uk/books/book/{{ book.pk }}/">http://www.libraring.co.uk/books/book/{{ book.pk }}/</a></p>

<p> {% trans "the Libraring team" %}</p>