{% extends 'after_login/framework/base.html'%}
{% load i18n %}
{% block title %} Page of {{book.title}} {% endblock%}

{% block content%}
{% load staticfiles widget_tweaks %}
{% load thumbnail %}
{% if book%}
    <div class="book-status-bar">
    {% if book.user.id == user.id %}
        {% if book.status == 'offered' %}
            <div class="alert alert-info">
                {% blocktrans trimmed %}
                You have at least one offer for this book. If you are satisfied with any of them, go ahead and accept the one you are satisfied with!
                {% endblocktrans %}
            </div>
        {% elif book.status == 'selling' %}
            <div class="alert alert-success">
                <h3>
                    {% blocktrans %}Well done!{% endblocktrans %}
                    {% blocktrans trimmed with user=book.sold_to offer=book.accepted_offer.offered_price %}
                        You have accepted {{user}}'s offer of {{offer}}&pound; for {{book}}.
                    {% endblocktrans %}
                </h3>
                <p>
                    <b>
                        {% blocktrans %}Next step:{% endblocktrans %}
                    </b>
                    {% blocktrans trimmed with user=book.sold_to email=book.user.email %}
                    {{ user }} will contact you shortly via your email address, {{ email }}, and you will be able to discuss the further details.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                    Once you are happy with this transaction, you can finalise it by clicking the 'Finalise' button below. Once both of you have clicked 'Finalised the transaction will be closed.
                    {% endblocktrans %}
                </p>
                <p>
                {% if book.accepted_offer.transaction.finalised_by_seller %}
                    <b>
                        {% blocktrans trimmed with user=book.sold_to%}
                        You have already finalised this transaction. Once {{ user }} also finalises it, the transaction will be completed.
                        {% endblocktrans %}
                    </b>
                {% else %}
                    <form id="finalised_form" method="post" action="{% url 'books:finalise_transaction' %}">
                        {% csrf_token %}
                        <input type="hidden" name="seller" value="true" />
                        <input type="hidden" name="transaction" value="{{ book.accepted_offer.transaction.id }}" />
                        <button class="btn btn-primary" type="submit">{% trans "Finalise" %}</button>
                    </form>
                {% endif %}
                </p>
            </div>
        {% elif book.status == 'finalised' %}
            <div class="alert alert-info">
                <h3>
                    {% blocktrans trimmed %}
                    Transaction closed, you have successfully sold this book! Please rate the transaction below.
                    {% endblocktrans %}
                </h3>
                <div class="rate-row">
                {% if book.accepted_offer.transaction.rating.buyer_rating %}
                <h4>
                    {% blocktrans %}You have already rated this transaction!{% endblocktrans %}
                </h4>
                </div>
                {% else %}
                    <h4>
                        {% blocktrans trimmed with user=book.accepted_offer.made_by %}
                        Please rate {{ user }} for this transaction.
                        {% endblocktrans %}
                    </h4>
                    <div class="rate-form-container">
                    <form method="post" action="{% url 'books:rate_transaction' %}" id="rate_transaction" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="tr_id" value="{{book.accepted_offer.transaction.rating.pk}}" />
                        <div class="form-group">
                            <input class="rating" data-max="5" data-min="1" id="star_rating" name="rating" type="number" data-inactive-icon="fa-star-o" data-active-icon="fa-star" data-icon-lib="fa" value="3"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-sm">{% trans "Rate!" %}</button>
                        </div>
                    </form>
                    </div>
                </div>

            {%endif%}
            </div>
        {% endif %}
    {% elif book.sold_to.id == user.id %}
        {% if book.status == 'offered' %}
            <div class="alert alert-info">
                {% blocktrans trimmed %}
                You have made an offer for this book already. You can always make further offers.
                {% endblocktrans %}
            </div>
        {% elif book.status == 'selling' %}
            <div class="alert alert-success">
                <h3>
                    {% blocktrans %}Well done!{% endblocktrans %}
                    {% blocktrans trimmed with price=book.accepted_offer.offered_price%}
                    Your offer of   &pound;{{ price }} has been accepted!
                    {% endblocktrans %}
                </h3>
                <p>
                    <b>{% trans "Next step:" %}</b>
                    {% blocktrans trimmed with user=book.user %}
                    An email has been sent to you, please reply to that email to contact {{ user }} in order to discuss further details
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}
                    Once you are happy with this transaction, you can finalise it by clicking the 'Finalise' button below. Once both of you have clicked 'Finalised'
                the transaction will be closed.
                    {% endblocktrans %}
                </p>
                <p>
                {% if book.accepted_offer.transaction.finalised_by_buyer %}
                    <b>
                        {% blocktrans %}
                        You have already finalised this transaction. Once {{ book.sold_to }} also finalises it, the transaction will be completed.
                        {% endblocktrans %}
                    </b>
                {% else %}
                    <form id="finalised_form" method="post" action="{% url 'books:finalise_transaction' %}">
                        {% csrf_token %}
                        <input type="hidden" name="seller" value="false" />
                        <input type="hidden" name="transaction" value="{{ book.accepted_offer.transaction.id }}" />
                        <button class="btn btn-primary" type="submit">{% trans "Finalise" %}</button>
                    </form>
                {% endif %}
                </p>
            </div>
        {% elif book.status == 'finalised' %}
            <div class="alert alert-info">
                <h3>
                    {% blocktrans %}Transaction closed, you have successfully acquired this book! Please rate the transaction below.
                    {% endblocktrans %}
                </h3>
                <p>
                    <b>
                        {% blocktrans %}Summary:{% endblocktrans %}
                    </b>
                    {% blocktrans trimmed with user=book.user price=book.accepted_offer.offered_price %}You have bought this book from {{ user }} for &pound;{{ price }}.
                    {% endblocktrans %}
                </p>
                <br />
                <div>
                {% if book.accepted_offer.transaction.rating.seller_rating %}
                    <h4>
                        {% blocktrans trimmed %}
                        You have already rated this transaction!
                        {% endblocktrans %}
                    </h4>
                </div>
                {% else %}
                    <h4>
                        {% blocktrans trimmed with user=book.accepted_offer.made_by %}
                        Please rate {{ user }} for this transaction
                        {% endblocktrans %}
                    </h4>
                    <div class="rate-form-container">
                    <form method="post" action="{% url 'books:rate_transaction' %}" id="rate_transaction" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="tr_id" value="{{book.accepted_offer.transaction.rating.pk}}" />
                        <div class="form-group">
                            <input class="rating" data-max="5" data-min="1" id="star_rating" name="rating" type="number" data-inactive-icon="fa-star-o" data-active-icon="fa-star" data-icon-lib="fa" value="3"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-sm">{% trans "Rate!" %}</button>
                        </div>
                    </form>
                    </div>
                </div>

            {%endif%}
            </div>
        {% endif %}
    {% else %}
        {% if book.status == 'selling' or book.status == 'finalised' %}
             <div class="alert alert-danger">
                 <b>
                 {% blocktrans trimmed %}Aw snap!{% endblocktrans %}
                 </b>
                 {% blocktrans trimmed%}
                 This book has already been sold, you can't make an offer unfortunately.{%endblocktrans %}
                 <i class="fa fa-frown-o"></i>
             </div>
        {% endif %}
    {% endif %}

    </div>
    <div id="book_container" class="row">
        <div class="col-md-4">
            
            <div class="book-image">
                {% thumbnail book.image "x400" as im %}
                    <img src="{{im.url}}" class="img-responsive" />
                {% endthumbnail %}
            </div>
            {% if user.id != book.user.id %}
            <button class="watchlist btn btn-default btn-block" value="{{book.id}}">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="watchlist-text">{% trans "Add to watchlist" %}</span>
            </button>
            {% endif %}

        </div>
        <div class="col-md-4 book-overview">
            <div class="book-overview-initial">
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Title" %}:</div>
                        <div class="col-xs-6">{{book.title}}</div>
                    </div>
                </div>
                <div class="book-field">
                     <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Author(s)" %}:</div>
                        <div class="col-xs-6">
                            {% for author in book.author.all%}
                                {% if forloop.last%}
                                    <a href="{% url 'books:author' author.id %}">{{author.name}}</a>
                                {%else%}
                                    <a href="{% url 'books:author' author.id %}">{{author.name}}</a>,
                                {%endif%}
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Price" %}:</div>
                        <div class="col-xs-6">{{book.price}} <i class="fa fa-gbp"></i></div>
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Genre(s)" %}:</div>
                        <div class="col-xs-6">
                        {% for genre in book.genre.all%}
                            <a href="{% url 'books:genre' name=genre.name %}">{{genre.name}} </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Edition no." %}:</div>
                        <div class="col-xs-6">
                        {{book.edition}}
                        </div>
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Publisher" %}</div>
                        <div class="col-xs-6">
                        {% if book.publisher %}
                            <a href="{% url 'books:publisher' book.publisher.id %}">{{book.publisher.name}}</a>
                        {%else %}
                            {% trans "Not specified" %}
                        {%endif%}
                        </div>
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Publication city" %}</div>
                        <div class="col-xs-6">
                        {% if book.publication_city %}
                            {{book.publication_city}}
                        {%else %}
                            {% trans "Not specified" %}
                        {%endif%}
                        </div>
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Publication country" %}</div>
                        <div class="col-xs-6">
                        {% if book.publication_country %}
                            {{book.publication_country}}
                        {%else %}
                            {% trans "Not specified" %}
                        {%endif%}
                        </div>
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Publication year" %}</div>
                        <div class="col-xs-6">
                        {% if book.publication_year %}
                        {{book.publication_year}}
                        {%else %}
                        {% trans "Not specified" %}
                        {%endif%}
                        </div>
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">ISBN:</div>
                        <div class="col-xs-6">
                        {% if book.isbn%}
                            {{book.isbn}}
                        {% else %}
                            {% trans "Not specified" %}
                        {% endif %}

                        </div>
                    </div>
                </div>
                
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">User:</div>
                        {% if user.id == book.user.id%}
                            <div class="col-xs-6">{% trans "This book is yours" %}</div>
                        {% else %}
                            <div class="col-xs-6"><a href="{% url 'usr:profile' book.user.id %}">{{book.user.username}}</a></div>    
                        {%endif%}
                        
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header row">
                        <div class="book-field-header-title col-xs-6">{% trans "Location" %}:</div>
                        <div class="col-xs-6">{{book.get_location}}</div>
                    </div>
                </div>
            </div>
            <div class="book-overview-show-all">
                <button class="btn btn-secondary btn-block">{% trans "view all" %}</button>
            </div>
            
        </div>
        <div class="col-md-4 book-offers">
        {% if not book.is_sold %}    
            <div class="book-offer-form book-field">
            {% if offer_form %}
                <form class="form-horizontal" role="form" action="{% url 'books:offer' %}"
                    method="post" id="book_offer_form">{% csrf_token %}
                    {% for field in offer_form %}
                            {% if field.is_hidden %}
                                {{field}}
                            {% else %}  

                            <div class="form-group">
                                <label for="{{field.id_for_label}}" class="col-xs-6 control-label">{% trans "Offer new price" %}</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        {{field|add_class:'form-control'}}
                                        <span class="input-group-addon"><i class="fa fa-gbp"></i></span>
                                    </div>
                                </div>

                            </div>
                            {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-xs-12">
                        <button class="btn btn-primary btn-block">{% trans "Make an offer!" %}</button>
                        </div>
                    </div>
                </form>

            {% endif %}
            </div>
            <div class="book-offer-previous">
                <div class="book-offer-previous-header">
                    {% trans "Previous offers" %}
                </div>
                {% if offers %}
                    {% for offer in offers %}
                        {% if not offer_form %}
                            {% include 'after_login/books/book_offer.html' with offer=offer form=True %}
                        {% else %}
                            {% include 'after_login/books/book_offer.html' with offer=offer form=False %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="book-no-offer">
                        {% trans "No offers for this book, yet." %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% else %}
            {% if not user.id == book.user.id and not user.id == book.sold_to.id%}
            <div class="alert alert-danger">
                {% trans "This book has been sold. You can't make an offer. "%}
            </div>
            {% endif %}
        {% endif %}
    </div>
{%else%}
wrong page    
{% endif%}

{% endblock%}
{% block js %}
{% load staticfiles %}

{{block.super}}
{% if not user.id == book.user.id%}
    <script type="text/javascript" src="{% static 'js/books/watchlist.js' %}"></script>
{%endif%}

    <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/books/overview.js' %}"></script>
	<script src="{% static 'js/bootstrap-rating-input.min.js' %}" type="text/javascript"></script>
{% endblock %}