{% extends 'after_login/framework/base.html'%}
{% load i18n %}
{% block title %}{{book.title}}{% endblock%}

{% block content%}
{% load staticfiles widget_tweaks %}
{% load thumbnail %}
{% if book%}
<div class="home-container">
    <div class="left-side">
        {% include 'after_login/usr/left_nav_home.html' with type='book-page' %}
    </div>
    <div class="book-main-page right-side">
    <div class="book-status-bar">
    {% if book.user.id == user.id %}
        {% if book.status == 'offered' %}
            <div class="alert alert-info">
                {% blocktrans trimmed %}
                You have at least one offer for this book. If you are satisfied with any of them, go ahead and accept the one you are satisfied with!
                {% endblocktrans %}
            </div>
        {% elif book.status == 'selling' %}
            <div class="alert alert-success">
                <h3>
                    {% blocktrans %}Well done!{% endblocktrans %}
                    {% blocktrans trimmed with user=book.sold_to offer=book.accepted_offer.offered_price %}
                        You have accepted {{user}}'s offer of {{offer}}&pound; for {{book}}.
                    {% endblocktrans %}
                </h3>
                <p>
                    <b>
                        {% blocktrans %}Next step:{% endblocktrans %}
                    </b>
                    {% blocktrans trimmed with user=book.sold_to email=book.user.email %}
                    {{ user }} will contact you shortly via your email address, {{ email }}, and you will be able to discuss the further details.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                    Once you are happy with this transaction, you can finalise it by clicking the 'Finalise' button below. Once both of you have clicked 'Finalised the transaction will be closed.
                    {% endblocktrans %}
                </p>
                <p>
                {% if book.accepted_offer.transaction.finalised_by_seller %}
                    <b>
                        {% blocktrans trimmed with user=book.sold_to%}
                        You have already finalised this transaction. Once {{ user }} also finalises it, the transaction will be completed.
                        {% endblocktrans %}
                    </b>
                {% else %}
                    <form id="finalised_form" method="post" action="{% url 'books:finalise_transaction' %}">
                        {% csrf_token %}
                        <input type="hidden" name="seller" value="true" />
                        <input type="hidden" name="transaction" value="{{ book.accepted_offer.transaction.id }}" />
                        <button class="btn btn-primary" type="submit">{% trans "Finalise" %}</button>
                    </form>
                {% endif %}
                </p>
            </div>
        {% elif book.status == 'finalised' %}
            <div class="alert alert-info">
                <h3>
                    {% blocktrans trimmed %}
                    Transaction closed, you have successfully sold this book! Please rate the transaction below.
                    {% endblocktrans %}
                </h3>
                <div class="rate-row">
                {% if book.accepted_offer.transaction.rating.buyer_rating %}
                <h4>
                    {% blocktrans %}You have already rated this transaction!{% endblocktrans %}
                </h4>
                </div>
                {% else %}
                    <h4>
                        {% blocktrans trimmed with user=book.accepted_offer.made_by %}
                        Please rate {{ user }} for this transaction.
                        {% endblocktrans %}
                    </h4>
                    <div class="rate-form-container">
                    <form method="post" action="{% url 'books:rate_transaction' %}" id="rate_transaction" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="tr_id" value="{{book.accepted_offer.transaction.rating.pk}}" />
                        <div class="form-group">
                            <input class="rating" data-max="5" data-min="1" id="star_rating" name="rating" type="number" data-inactive-icon="fa-star-o" data-active-icon="fa-star" data-icon-lib="fa" value="3"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-sm">{% trans "Rate!" %}</button>
                        </div>
                    </form>
                    </div>
                </div>

            {%endif%}
            </div>
        {% endif %}
    {% elif book.sold_to.id == user.id %}
        {% if book.status == 'offered' %}
            <div class="alert alert-info">
                {% blocktrans trimmed %}
                You have made an offer for this book already. You can always make further offers.
                {% endblocktrans %}
            </div>
        {% elif book.status == 'selling' %}
            <div class="alert alert-success">
                <h3>
                    {% blocktrans %}Well done!{% endblocktrans %}
                    {% blocktrans trimmed with price=book.accepted_offer.offered_price%}
                    Your offer of   &pound;{{ price }} has been accepted!
                    {% endblocktrans %}
                </h3>
                <p>
                    <b>{% trans "Next step:" %}</b>
                    {% blocktrans trimmed with user=book.user %}
                    An email has been sent to you, please reply to that email to contact {{ user }} in order to discuss further details
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                    Once you are happy with this transaction, you can finalise it by clicking the 'Finalise' button below. Once both of you have clicked 'Finalised'
                the transaction will be closed.
                    {% endblocktrans %}
                </p>
                <p>
                {% if book.accepted_offer.transaction.finalised_by_buyer %}
                    <b>
                        {% blocktrans trimmed %}
                        You have already finalised this transaction. Once {{ book.sold_to }} also finalises it, the transaction will be completed.
                        {% endblocktrans %}
                    </b>
                {% else %}
                    <form id="finalised_form" method="post" action="{% url 'books:finalise_transaction' %}">
                        {% csrf_token %}
                        <input type="hidden" name="seller" value="false" />
                        <input type="hidden" name="transaction" value="{{ book.accepted_offer.transaction.id }}" />
                        <button class="btn btn-primary" type="submit">{% trans "Finalise" %}</button>
                    </form>
                {% endif %}
                </p>
            </div>
        {% elif book.status == 'finalised' %}
            <div class="alert alert-info">
                <h3>
                    {% blocktrans trimmed %}Transaction closed, you have successfully acquired this book! Please rate the transaction below.
                    {% endblocktrans %}
                </h3>
                <p>
                    <b>
                        {% blocktrans %}Summary:{% endblocktrans %}
                    </b>
                    {% blocktrans trimmed with user=book.user price=book.accepted_offer.offered_price %}You have bought this book from {{ user }} for &pound;{{ price }}.
                    {% endblocktrans %}
                </p>
                <br />
                <div>
                {% if book.accepted_offer.transaction.rating.seller_rating %}
                    <h4>
                        {% blocktrans trimmed %}
                        You have already rated this transaction!
                        {% endblocktrans %}
                    </h4>
                </div>
                {% else %}
                    <h4>
                        {% blocktrans trimmed with user=book.accepted_offer.made_by %}
                        Please rate {{ user }} for this transaction
                        {% endblocktrans %}
                    </h4>
                    <div class="rate-form-container">
                    <form method="post" action="{% url 'books:rate_transaction' %}" id="rate_transaction" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="tr_id" value="{{book.accepted_offer.transaction.rating.pk}}" />
                        <div class="form-group">
                            <input class="rating" data-max="5" data-min="1" id="star_rating" name="rating" type="number" data-inactive-icon="fa-star-o" data-active-icon="fa-star" data-icon-lib="fa" value="3"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-sm">{% trans "Rate!" %}</button>
                        </div>
                    </form>
                    </div>
                </div>

            {%endif%}
            </div>
        {% endif %}
    {% else %}
        {% if book.status == 'selling' or book.status == 'finalised' %}
             <div class="alert alert-danger">
                 <b>
                 {% blocktrans trimmed %}Aw snap!{% endblocktrans %}
                 </b>
                 {% blocktrans trimmed %}
                 This book has already been sold, you can't make an offer unfortunately.{%endblocktrans %}
                 <i class="fa fa-frown-o"></i>
             </div>
        {% endif %}
    {% endif %}

    </div>
    <div id="book_container" class="row">
        <div class="col-md-3">
            
            <div class="book-image">
                {% thumbnail book.image "x400" as im %}
                    <img src="{{im.url}}" class="img-responsive" />
                {% endthumbnail %}
            </div>
        </div>
        <div class="col-md-4 book-overview">
            <div class="book-overview-initial">
                <div class="book-field">
                    <h3>Summary</h3>
                </div>
                <div class="book-field">
                    <div class="book-field-header">{% trans "Title" %}</div>
                    <div class="book-field-val">{{book.title}}</div>
                </div>
                <div class="book-field">
                     <div class="book-field-header">
                        {% trans "Author(s)" %}
                     </div>
                    <div class="book-field-val">
                        {% for author in book.author.all%}
                            {% if forloop.last%}
                                {{author.name}}
                            {%else%}
                                {{author.name}},
                            {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header">
                        {% trans "Edition" %}
                    </div>
                    <div class="book-field-val">
                        {% if book.edition %}{{ book.edition }}{% else %}{% trans "Not specified" %}{% endif %}
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header">
                        {% trans "ISBN number" %}
                    </div>
                    <div class="book-field-val">{% if book.isnb %}{{ book.isbn }}{% else %}{% trans "Not specified" %}{% endif %}</div>
                </div>
                <div class="book-field">
                    <div class="book-field-header">
                        {% trans "Location" %}
                    </div>
                    <div class="book-field-val">
                        {{ book.get_location.city }}, {{ book.get_location.country }}
                    </div>
                </div>
                <div class="book-field">
                    <div class="book-field-header">
                        {% trans "Username" %}
                    </div>
                    <div class="book-field-val">
                        {{ book.user }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 book-offers">
        <div class="book-field">
            <h3>{% trans "Goal price" %}: &pound;{{ book.price }}</h3>
        </div>
        {% if request.user in book.get_offer_users%}
        <div class="book-field">
            <h4>{% trans "You already have an offer for this book. You may change it by filling the form below" %}</h4>
        </div> 
        {%endif%}
        {% if not book.is_sold %}    
            <div class="book-offer-form book-field">
            {% if offer_form %}
                <form class="form-horizontal" role="form" action="{% url 'books:offer' %}"
                    method="post" id="book_offer_form">{% csrf_token %}
                    {% for field in offer_form %}
                            {% if field.is_hidden %}
                                {{field}}
                            {% else %}  

                            <div class="form-group">
                                <label for="{{field.id_for_label}}" class="col-xs-6 control-label">
                                    {% trans "New price" %}
                                </label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        {{field|add_class:'form-control'}}
                                        <span class="input-group-addon"><i class="fa fa-gbp"></i></span>
                                    </div>
                                </div>

                            </div>
                            {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-xs-12">
                        <button class="btn btn-primary btn-block">
                        {% if request.user in book.get_offer_users%}
                            {%trans "Change your offer" %}
                        {%else%}        
                            {% trans "Make an offer!" %}
                        {%endif%}
                        </button>
                        </div>
                    </div>
                </form>

            {% endif %}
            </div>
            <div class="book-offer-previous">
                <div class="book-offer-previous-header">
                    {% trans "Previous offers" %}
                </div>
                {% if offers %}
                    {% for offer in offers %}
                        {% include 'after_login/books/book_offer.html' with offer=offer %}
                    {% endfor %}
                {% else %}
                    <div class="book-no-offer">
                        {% trans "No offers for this book, yet." %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% else %}
            {% if not user.id == book.user.id and not user.id == book.sold_to.id%}
            <div class="alert alert-danger">
                {% trans "This book has been sold. You can't make an offer. "%}
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="book-details row">
        <div class="col-md-4 col-md-offset-3">
            <h3>Details</h3>
            <div class="book-field">
                <div class="book-field-header">
                    {% trans "Publisher information" %}
                </div>
                <div class="book-field-val">
                    <ul><li>{% trans "Publisher name" %}: {% if book.publisher %}{{ book.publisher }}{% else %}{% trans "Not specified" %}{% endif %}</li>
                   <li>{% trans "Publication city" %}: {% if book.publication_city %}{{ book.publication_city }}{% else %}{% trans "Not specified" %}{% endif %}</li>
                    <li>{% trans "Publication country" %}: {% if book.publication_country %}{{ book.publication_country }}{% else %}{% trans "Not specified" %}{% endif %}</li>
                    <li>{% trans "Publication year" %}: {% if book.publication_year %}{{ book.publication_year }}{% else %}{% trans "Not specified" %}{% endif %}</li></ul>
                </div>
            </div>
            <div class="book-field">
                <div class="book-field-header">
                    {% trans "Short description" %}
                </div>
                <div class="book-field-val">
                    {% if book.short_description %}{{ book.short_description }}{% else %}{% trans "No description specified" %}{% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{%else%}
wrong page    
{% endif%}


{% endblock%}
{% block js %}
{% load staticfiles %}

{{block.super}}
{% if not user.id == book.user.id%}
    <script type="text/javascript" src="{% static 'js/books/watchlist.js' %}"></script>
{%endif%}

    <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>

{% endblock %}