{% extends "after_login/framework/base.html"%}
{% load widget_tweaks i18n django_select2_tags%}
{% block title %}
{% if form_type == 'upload' %}
	Detailed Book Upload
{% elif form_type == 'update' %}
    Update {{form.title.value}}
{% endif %}
{% endblock %}
{% block content %}
<div class="profile-main notifications-main">
	<div class="row">
		<div class="alert-warning alert col-sm-6 col-sm-offset-3">
            <h4>
            {% if form_type == 'upload' %}
                Uploading a new Book
            {% elif form_type == 'update' %}
                Update your book: {{form.title.value}}
            {% endif %} 
			</h4>
            <form action="" method="post" role="form" class="form-horizontal" id="" enctype="multipart/form-data">
            {{form.errors}}
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{field.id_for_label}}" class="col-xs-4 control-label">{{field.label}}{%if field.field.required%}*{%endif%}</label>
                    {% if field.html_name == 'author' or field.html_name == 'genre' or field.html_name == 'publisher' or field.html_name == 'short_description' or field.html_name == 'new_publisher' %}
                     <div class="col-xs-7">
                    {%else%}
                    <div class="col-xs-4">
                    {% endif%}
                        {% if field.html_name == 'includes_delivery_charges' %}
                        {{field}}
                            {%else%}
                            {{field|add_class:'form-control'}}
                        {% endif %}
                    
                    <p class="help-block">{{field.help_text}}</p>
                    </div>{{field.error}}
                </div>
                    {% endfor %}
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        <button type="submit" class="btn btn-primary">
                        {% if form_type == 'upload' %}
                            Upload
                        {% elif form_type == 'update' %}
                            Update
                        {% endif %} 
                        </button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>

{% endblock %}