{% load thumbnail %}
{% load highlight %}

{% comment %} TODO: do this section {% endcomment %}
<div class="book-container book-grid-sizer">
    <div class="thumbnail">
    <a href="{{book.get_absolute_url}}">
    {%if book.image|is_portrait%}
        {% thumbnail book.image "400" crop="center" as im%}
            <img src="{{im.url}}" width="{{im.width}}" class="img-responsive" />
        {% endthumbnail %}
    {% else%}
        {% thumbnail book.image "400" crop="center" as im%}
            <img src="{{im.url}}" width="{{im.width}}" class="img-responsive" />
        {% endthumbnail %}
    {%endif%}
    </a>
      <div class="caption">
        <a href="{{book.get_absolute_url}}"><h3>{{book.title}}</h3></a>
        <p>Author(s):
            {% for author in book.author.all %}
                {% if forloop.last%}
                    {% if query %}
                        {% highlight author.name with query %}
                    {% else %}
                        {{ author.name}}
                    {% endif%}
                {%else%}
                    {%if query%}
                        {% highlight author.name with query %}
                    {% else %}
                        {{author.name}},
                    {% endif %}
                {%endif%}
            {% empty %}
                No authors specified
            {% endfor%}
        </p>
        {% if book.is_sold %}
            {% if request.user.id == book.user.id %}
                    {% if book.is_finalised %}
                        <div class="alert alert-success">
                            You have sold this book for {{book.is_sold.offered_price}}<i class="fa fa-gbp"></i>!
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            You are currently selling this book to {{book.sold_to}} for {{book.is_sold.offered_price}}<i class="fa fa-gbp"></i>
                        </div>
                    {% endif %}
            {% else %}
                <div class="alert alert-danger">
                    <b>Aw snap!</b> This book has already been sold. <i class="fa fa-frown-o"></i>
                </div>
            {% endif %}
        {% else %}
            {% if book.highest_offer %}
                <h4><span class="reverse">Highest offer: {{book.highest_offer}}<i class="fa fa-gbp"></i></span></h4>
            {% elif book.get_highest_offer %}
                <h4><span class="reverse">Highest offer: {{book.get_highest_offer.offered_price}}<i class="fa fa-gbp"></i></span></h4>
            {% else %}
                <h4>Highest offer: No offers yet</h4>
            {% endif %}
            <h4>Goal price: {{book.price}}<i class="fa fa-gbp"></i></h4>

            {% if not request.user.id == book.user.id %}
                <p>Location: {{book.get_location}}</p>
            {% endif %}
        {% endif %}
      </div>
    </div>
</div>