{% load thumbnail %}
{% load highlight %}
{% load i18n %}
{% comment %} TODO: do this section {% endcomment %}
<div class="book-container book-grid-sizer">
    <div class="thumbnail">
    <a href="{{book.get_absolute_url}}">
    {%if book.image|is_portrait%}
        {% thumbnail book.image "400" crop="center" as im%}
            <img src="{{im.url}}" width="{{im.width}}" class="img-responsive" />
        {% endthumbnail %}
    {% else%}
        {% thumbnail book.image "400" crop="center" as im%}
            <img src="{{im.url}}" width="{{im.width}}" class="img-responsive" />
        {% endthumbnail %}
    {%endif%}
    </a>
        <div class="caption">
            <div class="book-container-body">
               <a href="{{book.get_absolute_url}}">{{book.title}}</a>
            </div>
            <div class="book-container-body authors">
            {% trans "Author(s)" %}:
            {% for author in book.author.all %}
                    {% if forloop.last%}
                        {% if query %}
                            {% highlight author.name with query %}
                        {% else %}
                            {{ author.name}}
                        {% endif%}
                    {%else%}
                        {%if query%}
                            {% highlight author.name with query %}
                        {% else %}
                            {{author.name}},
                        {% endif %}
                    {%endif%}
                {% empty %}
                    {% trans "No authors specified" %}
                {% endfor%}
            </div>
            <div class="book-container-body">
                {% trans "Location" %}: {{ book.user.person.location }}
            </div>
            <div class="book-container-body">
                {% trans "Goal price" %}: &pound;{{ book.price }}
            </div>
            <div class="book-container-body">
                {% trans "Highest offer" %}: {% if book.get_highst_offer %}&pound;{{ book.get_highest_offer }}{% else %}{% trans "No offers for this book, yet"%}{% endif %}
            </div>

      </div>
    </div>
</div>