{% extends "after_login/framework/base.html"%}
{% load widget_tweaks %}

{%block title%}{{project.name}} profile{%endblock%}


{% block content%}
    <h2>Books</h2>
    <ul class="nav nav-tabs" id="book_list_nav">
        <li class="active"><a href="#my_books" data-load="books"  data-toggle="tab" role="tab" >My Books</a></li>
        <li><a href="#selling_books" data-toggle="tab" role="tab" data-load="sold">Selling Books</a></li>
        <li><a href="#watchlist_books"  data-load="watchlist" data-toggle="tab" role="tab" >My watchlist</a></li>
        <li><a href="#my_offers" data-load="offers" data-toggle="tab" role="tab" >My offers</a></li>
        <li><a href="#buying_books" data-load="bought" data-toggle="tab" role="tab" >Buying Books</a></li>
        <li class="upload-button">

            <button class="btn btn-default" data-toggle="modal" data-target="#book_upload_form">
                <i class="fa fa-plus"></i> Add new book</button>

        </li>
    </ul>
    <div class="tab-content" id="all_books">
        <div class="book-page-row tab-pane active" id="my_books">
            
            <div class="book-list">
                
            </div>
        </div>
        <div class="book-page-row tab-pane" id="selling_books">
            <div class="book-list">

            </div>
        </div>
        <div class="book-page-row tab-pane" id="watchlist_books">
             <div class="book-list">
                
            </div>
        </div>
        <div class="book-page-row tab-pane" id="my_offers">
            <div class="book-list">

            </div>
        </div>
        <div class="book-page-row tab-pane" id="buying_books">
            <div class="book-list">

            </div>
        </div>
    </div>
    
    <div id="book_upload_form" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="book_upload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="book_upload">Upload a new book</h4>
                </div>
                <div class="modal-body">
                    <form action="/ajax/upload/new/book/" method="post" enctype="multipart/form-data" role="form" class="form-horizontal" id="book_upload">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{field.id_for_label}}" class="col-xs-4 control-label">{{field.label}}{%if field.field.required%}*{%endif%}</label>
                            {% if field.html_name == 'author' or field.html_name == 'genre' or field.html_name == 'publisher' or field.html_name == 'short_description' or field.html_name == 'new_publisher' %}
                             <div class="col-xs-7">
                            {%else%}
                            <div class="col-xs-4">
                            {% endif%}
                                {% if field.html_name == 'includes_delivery_charges' %}
                                {{field}}
                                    {%else%}
                                    {{field|add_class:'form-control'}}
                                {% endif %}
                            
                            <p class="help-block">{{field.help_text}}</p>
                            </div>{{field.error}}
                        </div>
                 
                            {% endfor %}
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-8">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>
    
{%endblock%}


{% load staticfiles %}
{% block js%}

{{block.super}}

    
<script type="text/javascript" src="{% static 'js/select2.js'%}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/usr/validators.js' %}"></script>
<script src="{% static 'js/toastr.min.js' %}"></script>
<script type="text/javascript">
toastr.options = {
    "closeButton": false,
    "debug": false,
    "positionClass": "toast-top-right",
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "1000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
}
</script>

<script type="text/javascript" src="{%static 'js/books/main.js' %}"></script>

{%endblock%}