{% extends "after_login/framework/base.html"%}

{%block title%}
	{% if data.type == 'offers' %}
		My offers
	{% elif data.type == 'books' %}
		My books
	{% elif data.type == 'bought' %}
		Bought books
	{%else %}
		My watchlist
	{%endif %}
{%endblock%}


{% block content%}
<div class="home-container">
<div class="left-side">
        {% include 'after_login/usr/left_nav_home.html' with type='usr-books' form=form%}
    </div>
<div class="usr-book-main right-side">
    <div class="usr-book-body">
        {% for book in data.books %}
            {% include 'after_login/books/usr_books_item.html' with book=book %}
        {% endfor %}
    </div>
</div>
</div>
{%endblock%}


{% load staticfiles %}
{% block js%}
{{block.super}}
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/usr/validators.js' %}"></script>
<script src="{% static 'js/books/main.js' %}"></script>
{%endblock%}