{% extends 'after_login/framework/base.html'%}

{% load drealtimetags %}
{% block content%}
    <h2>Messages</h2>
    <div class="row">
        <div class="col-sm-3 message-links">
            <ul class="nav nav-tabs" id="messages_list_nav">
                <li class="active"><a href="#message_selling" role="tab" data-toggle="tab">Selling</a></li>
                <li><a href="#message_buying" role="tab" data-toggle="tab">Buying</a></li>
            </ul>
            <div class="tab-content">
                <div class="message-show-all tab-pane active" id="message_selling">
                    <div class="message-show-all-body">
                    {% if selling_c_list%}
                        {% for transaction in selling_c_list %}
                            <div id="link_to_transaction_{{transaction.pk}}">
                                <a href="/messages/{{transaction.pk}}/"
                                   {% if transaction.new_selling_messages %}class="new-message"{%endif%}>
                                    Selling {{transaction.book.title}} to {{transaction.book.sold_to.person.current_education.institution.location}} for {{transaction.accepted_price}}<i class="fa fa-gbp"></i>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        Selling transactions empty
                    {% endif %}
                    </div>
                </div>
                <div class="message-show-all tab-pane" id="message_buying">
                    <div class="message-show-all-body">
                    {% if buying_c_list%}
                        {% for transaction in buying_c_list %}
                            <div id="link_to_transaction_{{transaction.pk}}">
                                <a href="/messages/{{transaction.pk}}/" 
                                {% if transaction.new_buying_messages%}class="new-message"{%endif%}>
                                    Buying {{transaction.book.title}} from {{transaction.book.get_location}} for {{transaction.accepted_price}}<i class="fa fa-gbp"></i>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        Buying transactions empty
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="pjax-container">
            {% block show_message %}{% endblock %}
        </div>
    </div>    
{% endblock %}

{% load staticfiles %}

{% block js %}
{{block.super}}

    {% ishout_js %}
<script type="text/javascript" src="{% static 'js/jquery.pjax.js'%}"></script>
<script type="text/javascript" src="{% static 'js/user_messages/messages.js'%}"></script>
{% endblock %}