@font-face {
    font-family: 'KG Beneath Your Beautiful';
    src: url('../fonts/kg_beneath_your_beautiful/kg_beneath_your_beautiful.eot');
    src: url('../fonts/kg_beneath_your_beautiful/kg_beneath_your_beautiful.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kg_beneath_your_beautiful/kg_beneath_your_beautiful.svg#KG Beneath Your Beautiful') format('svg'),
        url('../fonts/kg_beneath_your_beautiful/kg_beneath_your_beautiful.woff') format('woff'),
        url('../fonts/kg_beneath_your_beautiful/kg_beneath_your_beautiful.ttf')
        format('truetype'); font-weight: normal; font-style: normal;
    }


/*
 * settings
 * */


@main-color: #00b6d1;
@light-color: #80DAE8;
@dark-color: rgb(38, 116, 127);
@lightest-color: #C1EDF4;
@grey-color: #f2f1f4;

@font-color: #555;
@info-color: #FFC300;

@border-radius: 0px;

@header-font: 'ABeeZee', sans-serif;
@text-font: 'ABeeZee', sans-serif;

/* MAIN PART */
body {
    width: 100%;
    background-color: #ffffff;
    font-family: @text-font;
    color: @font-color;
}

p{
    text-align: justify;
}

h1,h2,h3,h4,h5,h6{
    color: @main-color;
    font-family: @header-font;
    text-shadow: -1px black;
}

h1{
    margin-bottom: 25px;
}

h2{
    margin-bottom: 20px;
}

h3{
    margin-bottom: 20px;
}

h4{
    margin-bottom: 20px;
}

p{
    margin-bottom: 15px;
}


.home-container{
  height:auto;
  overflow: hidden;
}

@media(min-width: 500px){
  .toggle-collapse-menu{
    display:none;
  }
  nav.main-menu-navbar{
    ul.main-menu-left{
      display:inline;
    }
  }
}

@media(max-width: 500px){
  nav.main-menu-navbar{
    .toggle-collapse-menu{
      display: inline;
      float: left;
      color: @dark-color;
      background-color: #ffffff;
      border: 0px;
      font-size: 30px;
      padding: 10px;
      line-height: 30px;

      :hover{
        background-color: rgba(27, 81, 89, 0.09);
      }
    }

    ul.main-menu-left{
      border-top: 1px solid @dark-color;
      position: fixed;
      top: 50px;
      left: 100px;
      background-color: white;
      min-width: 150px;
      display:none;

      li{
        display:block;
        clear:both;
        float: none;

        .main-menu-big{
          display: inline;
        }

        .main-menu-small{
          display:none;
        }
      }

      li:last-child{
        input{
          border-top: 1px solid @dark-color;
          border-bottom: 1px solid @dark-color;
          border-left: 1px solid @dark-color;
          width: 100px;
        }
        button{
          padding: 0px;
          width: 50px;
          border-top: 1px solid @dark-color;
          border-bottom: 1px solid @dark-color;
          border-right: 1px solid @dark-color;
        }
      }
    }
  }
}

.left-side{
  width:200px;
  float:left;
  background-color: @dark-color;
  position:fixed;
  height:100%;

  .left-nav{
    padding:10px;
    padding-top: 10px;
    color:#ffffff;
    height:100%;
    position:relative;


    .left-nav-footer{
      bottom:60px;
      position:absolute;
      width: 180px;
      i{
        margin-left:5px;
      }
    }

    ul{
      padding-left:5px;
    }

    .btn-dark{
      margin-bottom:10px;
    }

  }
  .fa-arrow-right{
    display:none;
    cursor:pointer;
    float: right;
  }

  .fa-arrow-left{
    float: right;
    cursor:pointer;
  }

  .left-nav-body{
    .left-nav-body-title{
      font-size: 20px;
      padding-bottom: 10px;
      //font-weight:700;
    }

    .left-nav-body-content{
      h4{
        color: white;
        margin-top:20px;
        margin-bottom: 10px;
      }

      .left-nav-filter-form-header{
        font-size: 14px;
        padding: 5px;
      }

      .left-nav-filter-form-help{
        font-size: 10px;
        padding: 5px;
      }

      ul{
        padding:0px;
        list-style-type: none;

        li.checkbox{
          padding-left:25px;
        }
      }

      .watchlist{
        margin-top: 30px;
      }
    }
  }
}

.right-side{
  margin-left:200px;
  overflow: hidden;
  width: auto;
  float:none;
  padding:15px;
}

.reverse{
    color: #fff;
    background-color: @main-color;
    padding: 5px;
}

a{
    color: @main-color;
}

.beta{
    font-size: 12px;
    color: #ffffff;
}

.brand{
    font-family: 'Raleway', serif;
}

.header {
    background-color: #fff;
    box-shadow: 1px 0 3px rgba(0,0,0,.15);
   
}

nav.main-menu-navbar {
  border: none!important;
  border-bottom: 1px solid @dark-color!important;
  background-color: #ffffff;
  top: 0;
  position:fixed;
  left:0;
  right:0;
  z-index: 1030;
  min-height:50px;
  margin-bottom:50px;
  display:block;

  .main-menu-brand{
      line-height: 20px;
      height:50px;
      font-family: 'Raleway', serif;
      background-color: @dark-color;
      color:#ffffff;
      font-weight: 900;
      content:" ";
      display:table;
      font-size:18px;
      float:left;

      :hover{
        column: #ffffff;;
        text-decoration: none;
      }

      img{
        max-height: 50px;

    }
  }

  .main-menu-brand:hover{
    text-decoration:none;
  }

  ul{
    margin-top:0;
    margin-bottom:0;

    .dropdown-menu{
      margin-top:0;
      left:auto;
      right:0;
      li{
        clear:both;
        float: none;
        a{
          padding: 5px 15px;
          color:@main-color;
        }

        a:hover{
          color:@dark-color;
        }

      }
    }
  }

  li{
    float:left;
    position:relative;
    display:block;

    a{
      line-height:20px;
      position:relative;
      display:block;
      padding:15px 15px;
    }

    a:hover{
      text-decoration: none;
    }

    a:focus{
      text-decoration:none;
    }
  }

  ul.main-menu-right{
    float:right!important;
    list-style: none;
    padding-left:0px;
  }

  ul.main-menu-left{
    float:left!important;
    padding-left:0;
  }
}

.navbar-nav.navbar-right:last-child{
    margin:0px;
}

.home-button{
  background-color: @main-color;
  color:#ffffff;
}

.home-button:hover{
  color:#ffffff;
  background-color: fade(@main-color, 80%) !important;
}
.username-button:extend(.home-button){
  border-left: 1px solid @main-color;
}

.username-button:hover:extend(.home-button:hover){}

.username-button:focus:extend(.username-button){
  background-color:fade(@main-color, 80%)!important;
}

.explore-button{
  background-color: @lightest-color;
  color: @dark-color;
}

.explore-button:hover{
  color:@dark-color;
  background-color: fade(@lightest-color, 60%)!important;
}

.menu-add-book-button{
  border-right:1px solid @dark-color;
  border-left: 1px solid @dark-color;
}

.menu-add-book-button:hover{
  background-color: rgba(27, 81, 89, 0.09);
}

.menu-item{
  min-width:130px;
  text-align:center;
}

.menu-search-input{
  min-width:120px;
  padding-left:10px;
  height:50px;
  border:0px;
}

@media(max-width: 950px){
  .menu-item{
    min-width:60px;
  }

  .menu-search-input{
    width:80px;
    min-width:80px;
  }
}

@media(min-width:700px){
  .main-menu-small{
    display:none;
  }

  .main-menu-brand{
    width:200px;
  }

  .right-side{
    margin-left: 200px;
  }
}

@media(max-width: 700px){
  .menu-item{
    min-width: 50px;
  }

  .main-menu-big{
    display:none;
  }

  .main-menu-small{
    display: inline;
  }

  .main-menu-brand{
    width: 100px;
  }

  .left-side{
    display:none;
  }

  .right-side{
    margin-left: 0px;
  }
}

.menu-search-submit{
  //border-left:1px solid @main-color;
  border:0px;
  border-right:1px solid @main-color;
  height:50px;
  background-color: #ffffff;
}

.menu-search-submit{
  color:@dark-color;
}

.menu-search-submit:hover{
  color: @dark-color;
  background-color: rgba(0, 182, 209, 0.09) !important;
}

.dropdown-menu{
  min-width:130px;
}

.dropdown-menu>li>a:hover{
  background-color: #ffffff;
}

.wrapper {
    margin-top: 50px;
}

.asteriskField {
    display: none;
}

.search-form{
    input{
        width: 300px!important;
    }
}


.navbar-input-group {
  font-size: 0px; /*removes whitespace between button and input*/
}

.navbar-input-group input {
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  border-color: @main-color;
}
.navbar-input-group .btn {
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-left: 0px;
}
.panel-primary{
  border: 1px solid @dark-color;
}

/*
 *
 *OVERRIDING!!
 *
 */
.form-group:not(.has-error) .form-control{
    border-color: @main-color!important;
}

.btn{
    border-radius: @border-radius;
}

/*BTN DEFAULT */
.btn-default{
    border: 1px solid @main-color!important;
}

.btn-default:hover{
    background-color: @light-color!important;
}

.btn-default.active{
    background-color:@light-color!important;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-top-right-radius:0px!important;
    border-bottom-right-radius:0px!important;
}

.btn-group>.btn:last-child:not(:first-child){
    border-top-left-radius:0px!important;
    border-bottom-left-radius:0px!important;
}


/*BTN DANGER*/
.btn-danger{
    background-color: #bd362f!important;
    border-color: #bd362f!important;
}

.btn-danger:hover{
    background-color: #d9534f!important;
}
/*BTN PRIMARY*/
.btn-primary{
    background-color: @main-color!important;
    border: 1px solid @main-color!important;
}

.btn-primary:hover{
    background-color: #4DCCDF!important;
}

.btn-primary.active{
    background-color: @dark-color!important;
}

.btn-secondary{
    background-color: @dark-color;
    color: #fff;
}

.btn-secondary:hover{
    background-color: #3C828C;
    color:#fff;
}

.btn-dark{
  border-radius: 0px;
  background-color: fade(@dark-color, 80%);
  color:#ffffff;
  border-color: #ffffff;
  margin-top:5px;
  margin-botton:5px;
}

.btn-dark:focus:extend(.btn-dark){

}

.btn-dark:hover{
  background-color: rgb(51, 168, 179);
  color:#fff;
}

.alert{
    border-radius: 0px!important;
}
//
//.form-group{
//    margin: 0px!important;
//    //margin-bottom: 15px!important;
//}

.nav-tabs{
    margin-bottom: 20px;
    border-bottom: 1px solid @main-color;
}

.nav-tabs li.active a{
    border: 1px solid @main-color!important;
    border-top-left-radius: @border-radius!important;
    border-top-right-radius: @border-radius!important;
    border-bottom-color: transparent!important;
    color: @font-color!important;
}

.nav-tabs li.active a:hover{
    background-color: #fff;
    border-bottom:0px;
}

.nav-tabs li a:hover{
    background-color: @light-color;
    border-top-left-radius: @border-radius!important;
    border-top-right-radius: @border-radius!important;
    border: 1px solid @main-color;
}

.nav-tabs li.upload-button{
    float: right;

    .btn{

        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.nav-tabs li .btn{
    padding: 10px 15px!important;
}


/* thumbnails*/
.thumbnail{
    display:block;
    border-radius: 0px;
    border:1px solid @dark-color;
    padding:0px;
}

/*
 *GENERAL STUFF
 */
.loading-modal {
    display: none;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/static/img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;
}


body.loading .loading-modal {
    display: block;
}

input.form-control{
    padding:0px!important;
}

.input-group-addon{
    background-color: @light-color;
    color: @dark-color;
    border: 1px solid @main-color;
}

.rating-input{
    color: @dark-color;
    font-size: 18px;
    padding-right: 20px;
}

.form-horizontal .has-feedback .form-control-feedback{
    right: -30px!important;
}

.highlighted{
    background-color: @info-color;
}

/* INDEX PAGE */


.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}



.panel{
    border-radius: @border-radius!important;
}

#clock span{
    padding: 0px 5px;
}

#clock .col-md-4{
    padding: 0px!important;
}

/*
 * SHARING DESIGN
 * */

 .btn-social-share{
  width: 40px;
 }

/*TWITTER */
.btn-twitter {
    background: #00acee;
    //border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
  color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
  background: #0087bd;
  color: #fff
}

/*FACEBOOK*/
.btn-facebook {
  background: #3b5998;
  //border-radius: 0;
  color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
  color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
  background: #30477a;
  color: #fff
}

/*GOOGLE+*/
.btn-googleplus {
  background: #e93f2e;
  //border-radius: 0;
  color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
  color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
  background: #ba3225;
  color: #fff
}

/*EMAIL*/
.btn-email {
    background: #EAE600;
    //border-radius:0;
    color: #fff;
}
.btn-email:link, .btn-email:visited{
    color: #fff;
}
.btn-email:active, .btn-email:hover{
    background: #E8CC00;
    color: #fff;
}

#share .col-md-3{
    padding-left: 5px!important;
    padding-right: 5px!important;
    paddig-top: 5px!important;
    padding-bottom: 5px!important;
}

#share .col-sm-1{
    padding-left: 5px!important;
    padding-right: 5px!important;
    paddig-top: 5px!important;
    padding-bottom: 5px!important;
}

#share a {
    color:white!important;
    //margin: 5px;
}

#creators_body{
    height: 193px!important;
}
/*
 * CONFIRMATION
 * */

.messages-field{
    max-width: 400px;
}

.messages-field-header{
    font-family: @header-font;
    padding-top:15px;
    padding-bottom: 15px;
    font-size: 25px;
}

#new-email-success{
    display:none;
}

#email_confirmation_form{
    margin-top:20px;
    margin-bottom:20px;
}

#email_confirmation_code{
    width: 100px;
}

/*PROFILE*/


.main-row{
    margin:0px!important;
}

.previous-education-delete-confirm{
    display: none;
    padding-top:15px;
    padding-bottom:15px;
    background-color: @light-color;
}

#error .modal-header{
    color: #ffffff;
    background-color: #bd362f;
}

.modal-content{
    border-radius: 0px!important;
}



.profile-field{
   padding-bottom: 15px;
   padding-top: 15px;  
}

.profile-field-header{
    margin: 0px!important;
}

.profile-field-header div{
    padding: 6px 12px;
}

.profile-update{
    display:none;
}

.profile-update-button, .previous-education-delete{
    cursor:pointer;
    margin-left: 10px;
}

.profile-field-header-title{
    font-weight: 700;
    height: 100%;
    border-bottom: 2px solid @light-color!important;
}

.profile-update{
    padding-top: 15px;
    padding-bottom: 15px;
}

//
//.profile-update .form-group div {
//    padding: 0px!important;
//}


.profile-update label{
    padding: 6px 12px;
    margin:0px!important;
}

.profile-field ul li{
    border: none;
    border-radius: 0px!important;
 }

.profile-field .list-group-item{
    padding-bottom: 0px!important;
}

.profile-main{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* BOOK'S PAGE */

#error .modal-header{
    color: #ffffff;
    background-color: #bd362f;
}

.book-field{

  .book-field-header {
    font-weight: 700;
    border-bottom: 2px solid @main-color !important;
  }
  .book-field-val{
    padding: 10px 5px;

    ul{
      list-style-type:none;
      padding:0px;
      li{
        display: block;
        padding: 5px 0px;
      }
    }
  }

  h3{
    margin-top: 0px;
    color: @dark-color;
  }
}


.book-update{
    border: 2px solid @main-color!important;
    border-bottom: none!important;
    overflow: hidden;
}

.book-update .form-group{
    margin: 0px!important;
    margin-bottom: 15px!important;
}

.book-update .form-group div {
    padding: 0px!important;
}

.book-update .form-group:last-child{
    margin-bottom: 0px!important;
}

.book-update label{
    padding: 6px 12px;
    margin:0px!important;
}

.book-update-form:first-child{
    margin-top: 15px!important;
}

.book-field .list-group-item{
    padding-bottom: 0px!important;
}


/*loading books*/
.book-page-row .book-list{
    width: 100%;
}


.book-offer-previous-header{
    font-size: 24px;
    color: @main-color;
    border-bottom: 2px solid @dark-color;
}

.book-offer-previous-element{
    padding: 10px;
    font-size: 14px;

    .col-xs-2{
        font-size: 18px;
        color: @main-color;
    }
}

.book-offer-previous-element:not(:last-child){
    border-bottom:1px solid @main-color;
}

.watchlist{
    margin-top: 10px;
}

/* MESSAGING */
#messages_list_nav{
    margin-bottom: 0px;
}

.message-links{
    padding-right: 0px;
}

.message-container{
    padding-left: 0px;
}

.message-show-all-body{
    height: 250px;
    overflow: auto;
}

.message-show-all-body a{
    display:block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid @dark-color;
    border-left: 1px solid @main-color;
}



.message-show-all-body a:hover{
    text-decoration: none;
    background-color: @light-color;
}

.message-show-all-body a.new-message{
    background-color: @lightest-color;
}

.message-show-all-body a.viewing{
    background-color: @dark-color;
    color: white;
}

.message-earlier-messages{
    height:300px;
    overflow: auto;
    border-left: 1px solid @main-color;
    border-right: 1px solid @main-color;
}

.message-display-header{
    padding:10px 15px;
    border: 1px solid @main-color;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.message-refresh a{
    cursor:pointer;
}

.message{
    padding: 0px 20px;
}

.message-header{
    margin-top: 10px;
    border-top: 1px solid @light-color;
}

.message-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

.message-footer{
    font-size: 10px;
}

#id_text{
    height: 60px!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}

.book-gutter-sizer{
    width: 1%;
}

.book-container{
    margin-bottom:10px;
    width: 24.25%;
}

.book-container{
    margin-bottom:10px;
}

@media (max-width: 450px){
    .book-container{
        width: 100%;
    }
}



@media (min-width: 450px){
    .book-container{
        width: 49.5%;
    }
}

@media (min-width: 650px){
    .book-container{
        width: 32.66667%;
    }
}
/*
@media (min-width: 800px){
    .book-container{
        width: 23.5%;
    }
}
*/
@media (min-width: 900px){
    .book-container{
        width: 24.25%;
    }
}

@media (min-width: 1200px){
    .book-container{
      width:18.8%;
    }
}

@media (min-width: 1600px){
    .book-container{
      width: 15.5%;
    }
}



.book-container .thumbnail{
    margin-bottom: 0px;

    .caption {
      padding: 0px;

      .book-container-body {
        background-color: white;
        color: @dark-color;
        padding: 5px 10px;
        font-size:14px;
        background-color: rgba(27, 81, 89, 0.09);
      }

      .book-container-body:first-child{
        border-top:1px solid @dark-color;
        font-size:20px;
      }


      a {
        display: block;
        color: @dark-color;
      }

      a:hover {
        color: @dark-color;
        text-decoration: none;
      }
    }
}



.heightAuto{
    height: auto;
}

.rate-row{
    margin-bottom:40px; 
}

.manager-page-content h4{
    text-transform: uppercase;
}

.book-main-page{
  padding-top: 20px;
  .row{
    margin:0px;
  }
}

.usr-book-main{
  padding: 10px 20px;
  .row{
    margin-left:0px;
    margin-right:0px;
  }
}




.usr-book-container{
  margin-bottom: 20px;
  padding-bottom:20px;
  border-bottom:5px solid rgba(27, 81, 89, 0.09);

  img.usr-book-image{
    border:1px solid @dark-color;
  }

  .usr-book-image-container{
    button{
      width: 220px;
    }
  }

  .book-overview{

    padding: 15px;
    .book-overview-element{
      color: @dark-color;
      font-size:14px;
      display:block;
      padding: 5px 10px;
    }

    .book-overview-element.big{
      font-size: 18px;
    }
  }

  .usr-book-status{
    .usr-book-status-title{
      font-size: 18px;
      font-weigt:900;
      padding:5px;
    }

  }
}

#index-page{
  padding: 20px;
  .panel-body {
     text-align: justify!important;
  }

  .panel-heading{
    font-color: #60686F;
  }

  .index-page-content{
    background-color: rgba(255,255,255,0.85);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 35px;

    .index-page-content-body{
      padding-left: 10px;
    }
  }

  .index-page-share{
    h3{
      margin-top: 4px;
      margin-bottom: 4px;
      padding-right: 20px;
    }
    background-color: white;
  }

  .index-page-login{
    height: 350px;
  }
}

.notifications-main{
  .notifications-mark-all-as-read{
    float:right;
  }

  .notifications-all-action-btn {
    height: 50px;
  }

  .row{
    margin:0px;
  }

  .nav-tabs{
    margin-bottom: 0px;
  }
 

  h4{
    color: @dark-color;
  }

  .notifications-item{
    padding: 0px;
    .notification-item-header{
      font-size: 20px;
      margin-bottom: 10px;
      
    }

     a{
    display:block;
    border-bottom: 1px solid @dark-color;
    padding: 10px;
    color: @dark-color;
    background-color: rgba(27,81,89,0.09);
    min-height: 100px;  
    border-right: 1px dotted @dark-color;
  }

  a:hover{
    text-decoration: none;
    background-color: rgba(27,81,89,0.04);
  } 
  
  }

  .notifications-item-first:extend(.notifications-item){
    padding: 15px;
    background-color: @dark-color;
    color: white;
    font-weight: 700;
    //height: 50px;
  }

  .notifications-item-read{
    padding:0px;

    button{
      background-color: rgba(27,81,89,0.09);
      color: @dark-color;
      margin:0px;
      height: 50px;
    }

    button:hover{
      background-color: rgba(27,81,89,0.01);
    }

    .notifications-item-mark-read{
      border-bottom: 1px solid @dark-color;
    }
    .notifications-button-replace{
        background-color: rgba(27,81,89,0.09);
        display:block;
        height:50px;
        border-bottom: 1px solid @dark-color;
      }
  }
}

.index-page-content{
  position:relative;
  .slider-navigation{
        color: @dark-color;
    padding-bottom: 20px;

    position:absolute;

  }
  .fa-arrow-right{
      float: right;
      top: 50%;
      right: 5px;
    }

    .fa-arrow-left{
      float: left;
      top: 50%;
      left: 5px;
    }

    .fa{
      cursor: pointer;
    }


  .before-login-book-container{
    clear: both;

    .thumbnail{
      border: 0px;
      margin-left: 5px;
      margin-right: 5px;

      .caption{
        inline-height: 100px;
        height: 100px;
        background-color: @dark-color;
        color: white;
        font-size: 18px;
      }
    }
  }
}