{% extends "before_login/framework/base.html" %}

{% block content%}
    <div id="confirmation" class="confirmation-field">
        <div class="confirmation-field-header">
            Dear {{user.first_name}}!
        </div>
        <div class="body">
            {% if messages %}
                {% for message in messages %}
                    <div class="{{message.tags}}">{{message}}</div>
                {% endfor %}
            {%endif%}
        </div>
    </div>
    
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock%}