{% extends "before_login/registration/register_wizard_base.html" %}
{%block registration_content %}
<h2>Plese select the institution you are currently at</h2>
<form action="" method="post">
{% csrf_token %}
{{wizard.management_form}}
{% with form=wizard.form %}	
	
	{% for field in form %}
	<div class="register-form">
		{{ field.errors }}
		{{ field.label }}
		{{ field }}<div class="register-form-helper-field"></div>
	</div>
	
	{% endfor %}
	
	<div class="register_form">
		<input type="submit" value="Create the account">
	</div>

{% endwith %}
</form>

<script>
	
</script>

{% endblock %}
