{% extends "before_login/framework/base.html" %}

{% block content%}    
     <div class="row main-row">
        <div class="col-md-9 col-md-offset-2">
            <div id="messages" class="messages-field alert alert-info">
                <div class="messages-field-header">
                    New email confirmation
                </div>
                <div class="messages-field-body">
                 <p>Dear {{user.first_name}}!</p>
                    <p>You have recently changed your current education, therefore your email address also changed to {{user.email}}
                    We have sent you an email, containing a 6 digit code, please key it in below, in order to verify your new email address</p>
                </div>
                <div class="messages-footer">
                    the LIBRARING team
                </div>
                 <form id="email_confirmation_form" action="" method="" class="form-inline">
                    <div class="form-group">
                    <label for="email_confirmation_code" class="control-label">Enter your confirmation code here</label>
                    <input class="form-control" id="email_confirmation_code" name="confirmation_code" />
                    </div>
                    
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>
            </div>
            <div id="new-email-success" class="messages alert alert-success">
                <p>You have successfully confirmed your new email!</p>
                <p>Feel free to login!</p>
                <a href="{% url 'usr:login'%}">To the login page</a>
            </div>
        {% if registration_complete%}
        <a href="{% url 'usr:login'%}">To the login page</a>
        {%endif%}
        </div>
    </div>
    

{% endblock%}