{% extends "before_login/registration/register_wizard_base.html" %}
{% block registration_content %}
	<form action="" method="post">
	{% csrf_token %}
	{{wizard.management_form}}
    {% with form=wizard.form %}	
		{%block compulsory_data %}
		<h2>Additional personal data - compulsory fields</h2>
		<div class="registration_form">
			{{ form.title.errors }}
			<label for="id_title">Title:</label>
			{{ form.title }}
		</div>
		<div class="registration_form">
			{{ form.first_name.errors }}
			{{ form.first_name}}
		</div>
		<div class="registration_form">
			{{ form.last_name.errors }}
			{{ form.last_name }}
		</div>
		<div class="registration_form">
			{{ form.email.errors }}
			{{ form.email }}
		</div>
		<div class="registration_form">
			{{ form.person_type.errors }}
			<label for="id_person_type">Whats your occupation?</label>
			{{ form.person_type }}
		</div>

		{% endblock %}
		{% block optional_data %}
		<h2>Additional personal data - optional fields</h2>
		<div class="registration_form">
			{{ form.date_born.errors }}
			<label for="id_date_born">When were you born?</label>
			{{ form.date_born }}
		</div>
		<div class="registration_form">
			{{ form.about.errors }}
			{{ form.about }}
		</div>
		{% endblock %}	
		<div class="registration_form">	    
 		   	<input type="submit" value="To the next step">
		</div>
	{%endwith%}
	</form>
{% endblock %}
