{%extends "before_login/framework/base.html"%}
{% block title %} {{project.name}} registration{% endblock %}
{%block content%}	
	<div id="registration_overview">
		<h1>{{project.name}}, creating new account</h1>
		{% block registration_overview %}
			{% if wizard %}
			<h2>Step {{wizard.steps.step1}} of {{ wizard.steps.count}}</h2>
			{% endif%}
		{% endblock %}
	</div>
	<div id="registration_content">
		{%block registration_content%}{% endblock %}
		{% if wtf%}
			<p>asdasd</p>
		{%endif%}
	</div>
{%endblock%}