{% extends "after_login/framework/base.html"%}
{%block title%}{{project.name}} Home {%endblock%}
{% load staticfiles endless widget_tweaks i18n %}
{% block content%}


<div class="home-container">
    <div class="left-side">
        {% include 'after_login/usr/left_nav_home.html' with type='home' form=form%}
    </div>
    <div class="right-side">
	<div id="genre_books_all">

		<div class="book-gutter-sizer"></div>

    {% include home_books_template %}
	</div>
    <div id="filter_modal" class="modal fade bs-example-modal-lg" role="dialog" aria-hidden="true" aria-labelledby="add_filters">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{% trans "Filter books" %}</h4>
                </div>
                <div class="modal-body">
                <form class="form-horizontal" action="" method="get">
                            <div class="form-group">
                        {% for checkbox in form.genres %}
                                <div class="col-sm-2 checkbox">
                                    {{ checkbox.tag}}
                                    <label for="id_genres_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label>
                                </div>
                        {% endfor %}

                            </div>
                    <input type="submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock%}

{%block js%}

{{block.super}}

	<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>
{%endblock%}