{% load i18n %}
<div class="left-nav">
    <div class="left-nav-body">
        <div class="left-nav-body-title">
            {% if type == 'home' %}Showing {% if not list %} all {% else %} selected{% endif %}
            {% elif type == 'book-page' %}
                {{ book }}
            {% elif type == 'usr-books'%}
                {% if data.type == 'books' %}
                    My books
                {% elif data.type == 'offers' %}
                    My offers
                {% else %}
                    My watchlist
                {% endif %}
            {% endif %}
        </div>
        <div class="left-nav-body-content">
        {% if type == 'home' %}
            <form class="form-horizontal" action="" method="get">
                <ul>
                {% for checkbox in form.genres %}
                    <li class="checkbox">
                    {{ checkbox.tag}}
                    <label for="id_genres_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label>
                    </li>
                {% endfor %}
                </ul>
                <button type="submit" class="btn btn-dark btn-block">Filter</button>
                <a href="{% url 'index' %}" class="btn btn-dark btn-block">Clear</a>
            </form>
        {% elif type == 'book-page' %}
        <h4>
            {% trans "Genres" %}
        </h4>
        <ul>
            {% for genre in book.genre.all %}
                <li>{{ genre }}</li>
            {% endfor %}
        </ul>
            {% if request.user.id != book.user.id %}
                <h4>User rating</h4>
                {% if book.user.person.get_average_rating %}
                    {{ book.user.person.get_average_rating }}
                {% else %}
                    {% trans "user hasn't been rated yet" %}
                {% endif %} 
            <button class="watchlist btn btn-dark btn-block" value="{{book.id}}">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="watchlist-text">{% trans "Add to watchlist" %}</span>
            </button>
            {%endif %}
        {% endif %}
        </div>
    </div>
    <div class="left-nav-footer">
        <button class="btn btn-dark btn-block normal"><span class="text">Hide sidebar </span><i class="fa fa-minus"></i></button>
    </div>
</div>