{% extends "after_login/framework/base.html"%}
{%block title%}{{project.name}} profile{%endblock%}
{% load widget_tweaks %}
{% block content%}
    
    {% if settings %}
        <h2 class="profile-user-name">My profile</h2>
    {% else %}
        <h2 class="profile-user-name">Profile of {{user.first_name}} {{user.last_name}}</h2>
    {% endif %}
       {% for field in fields %}
        <div class="profile-field" {% if field.update and settings %}id="{{field.update_id}}_container"{%endif%}>
            <div class="profile-field-header row">
                <div class="profile-field-header-title col-md-2">{{field.label}}</div>
                <div class="profile-field-header-body col-md-2"><span class="field-data">{{field.data}}</span>
                    {% if field.update and settings %}
                        <a class="profile-update-button">
                            <i class="fa fa-pencil"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if field.update and settings %}
            <div class="profile-update">
                    <form id="{{field.form_id}}" action="" method="" class="profile-update-form form-inline">
                        <div class="form-group">
                            <label for="{{field.update_id}}" class="control-label">new {{field.label}}</label>   
                            <input class="form-control profile-update-input" id="{{field.update_id}}" name="{{field.update_id}}"/>
                        </div>
                        <div class="form-group">
                                <button type="submit" class=" btn btn-primary profile-update-save" value="{{field.update_id}}">save</button>
                                <button type="button" class=" btn btn-default profile-update-cancel">cancel</button>
                        </div>
                            
                       
                    </form>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    
    {% if student %}
        <div class="profile-field" id="current_education_container">
            <div class="profile-field-header row">
                <div class="profile-field-header-title col-md-2">Current educaton</div>
                <div class="profile-field-header-body col-md-10">
                    <span class="field-data">{{user.person.current_education}}</span>
                    {% if settings %}
                        <a class="profile-update-button">
                            <i class="fa fa-pencil"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if settings %}
            <div class="profile-update">
                <form id="current_education_form" action="/usr/change/current/education/" method="post"
                    class="profile-update-form form-horizontal">
                    {% csrf_token %}
                    {% with new_current_education_form as form %}
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="{{form.institution.id_for_label}}" class="control-label">new Institution</label>
                            </div>
                            <div class="col-md-3">
                                {{form.institution|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="{{form.course.id_for_label}}" class="control-label">new Course</label>
                            </div>
                            <div class="col-md-3">
                                {{form.course|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="{{form.start_year.id_for_label}}" class="control-label">new Start year</label>
                            </div>
                            <div class="col-md-2">
                                {{form.start_year|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="{{form.end_year.id_for_label}}" class="control-label">new End year</label>
                            </div>
                            <div class="col-md-2">
                                {{form.end_year|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="{{form.email.id_for_label}}" class="control-label">new Email</label>
                            </div>
                            <div class="col-md-3">
                                
                                    {{form.email|add_class:'form-control'}}
                                    <p class="help-block email-ending-help"></p>
                                
                            </div>
                        </div>
                        <div class="profile-update-field">
                            <div class="form-helper-field"></div>
                        </div>
                    {% endwith %}
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary profile-update-save" value="current_education">save</button>
                            <button type="button" class="btn btn-default profile-update-cancel">cancel</button>
                        </div>
                    </div>
                 </form>

            </div>
            {% endif %}    
        </div>
        <div class="profile-field" id="previous_education_all">
            <div class="profile-field-header row">
                <div class="profile-field-header-title col-md-2">Previous educaton</div>
                <div class="col-md-9">&nbsp;</div>
            </div>
            {% if user.person.previous_education %}
            <ul class="list-group">
            {% for class in user.person.previous_education%}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-10">
                            {{class}}{% if settings %}<a class="previous-education-delete"><i class="fa fa-times"></i></a>{%endif%}
                        </div>
                    </div>
                    {% if settings %}
                    <div class="previous-education-delete-confirm">
                        <label for="{{class.id}}_previous_education_delete">Are you sure, you want to delete this education?</label>
                        <button id="{{class.id}}_previous_education_delete" class="btn btn-primary previous-education-delete-yes profile-update-save"
                                value="{{class.id}}">yes</button>
                        <button class="previous-education-delete-no btn btn-default">no</button>
                    </div>
                    {% endif %}
                
                </li>
            {%endfor%}
                
            </ul>
            {% else %}
                        <p>You have no previous education, yet.</p>
            {% endif %}
        </div>
            {% if settings %}
        <div class="profile-field" id="previous_education_container">
            <div class="profile-field-header row">
                <div class="profile-field-header-title col-md-2">add new educaton</div>
                <button id="add_new_education" class="btn btn-primary">Add new education</button>
            </div>
            <!--<div id="add_new_education_container">
                {% for field in new_previous_education_form%}
                    <div class="profile-update-field">
                        {{field.label_tag}} {{field}}
                        <div class="form-helper-field"></div>
                    </div>
                {%endfor %}
                  <button class="profile-update-save" value="previous_education">add</button>
            </div>-->
            <div id="add_new_education_container" class="profile-update">
                <form id="previous_education_form" action="/usr/add/previous/education/" method="post"
                    class="profile-update-form form-horizontal">
                    {% csrf_token %}
                    {% with new_previous_education_form as form %}
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="{{form.institution.id_for_label}}" class="control-label">new Institution</label>
                            </div>
                            <div class="col-md-3">
                                {{form.institution|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="{{form.course.id_for_label}}" class="control-label">new Course</label>
                            </div>
                            <div class="col-md-3">
                                {{form.course|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="{{form.start_year.id_for_label}}" class="control-label">new Start year</label>
                            </div>
                            <div class="col-md-2">
                                {{form.start_year|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="{{form.end_year.id_for_label}}" class="control-label">new End year</label>
                            </div>
                            <div class="col-md-2">
                                {{form.end_year|add_class:'form-control'}}
                            </div>
                        </div>
                    {% endwith %}
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary profile-update-save" value="previous_education">add</button>
                            <button type="button" class="btn btn-default profile-update-cancel">cancel</button>
                        </div>
                    </div>
            </form>
            {% endif %}
        </div>
    {% else %}
        <div class="profile-field" id="institution_container">
            Institution: {{user.person.institution}}
        </div>
    {% endif %}
    
{% endblock %}

{% load staticfiles %}

{% block js %}
{{block.super}}
    <script type="text/javascript" src="{% static 'js/usr/validators.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/usr/main.js' %}"></script>
{% endblock %}