<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>

       <!-- META TAGS -->
        <meta name="author" content="Tamás Sztanka-Tóth">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <!-- FAVICON -->
        <link rel="shortcut icon" href="{%static 'img/logo_favicon.ico' %}" />
    
        <title>{%block title%}{%endblock%}</title>   
      
       
        <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>  


        <!-- BOOTSTRAP CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <!-- FONTAWESOME CSS -->
        <link href="{% static 'fontawesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
        <!-- TIMECIRCLES CSS -->
        <link href="{%static 'css/TimeCircles.css'%}" rel="stylesheet" type="text/css" />
        <!-- TOASTR CSS -->
        <link href="{%static 'css/toastr.min.css'%}" rel="stylesheet" type="text/css"/>
        <!-- bootstrap validator -->
        <link href="{%static 'css/bootstrapValidator.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/select2-bootstrap.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/awesome-bootstrap-checkbox.css' %}" rel="stylesheet" type="text/cc" />

         <!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=ABeeZee|Raleway' rel='stylesheet' type='text/css'>
        <!-- MAIN LESS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />


            
    </head>
    <body>
        <!-- Facebook -->
            <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=202997949770698&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <!-- end Facebook -->
        <!-- GOOGLE ANALYTICS COMES HERE -->

        <!-- CONTENT START -->
        <section id="container">
            <!-- HEADER START -->
            <nav class="header navbar navbar-fixed-top" role="navigation">
                <!-- NAVBAR HEADER START -->
                <div class="navbar-header">
                    <!-- SMALL RESOLUTION MENU BUTTON START -->
                    {%comment%}<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>{%endcomment%}
                    <!-- SMALL RESOLUTION MENU BUTTON END -->
                    <!-- BRAND START -->
                    <a class="navbar-brand" href="/"><img src="{%static 'img/logo.png'%}"/>Libraring <span class="beta">(beta)</span></a>
                    <!-- BRAND END -->
                </div>
                <!-- NAVBAR HEADER END -->
                <!-- HEADER MENU -->
                
                {% include 'after_login/framework/menu.html'%}
                <!-- HEADER MENU END -->
            </nav>
            <!-- HEADER END -->

            <!-- PAGE CONTENT START -->
            <div id="content">
                <section id="main-content">
                    <section class="wrapper">
                        {% comment %}<div id="body" class="row main-row">
                            <div class="col-md-10 col-md-offset-1" >{% endcomment %}
                         {%block content%}{%endblock%}
            {% comment %}</div>
                        </div>{% endcomment %}
                    </section>
                </section>
            </div>
            <!-- PAGE CONTENT END -->

            <!-- FOOTER START -->
            <div id="footer">

            </div>
            <!-- FOOTER END -->
        </section>
        <!-- CONTENT END -->

        
        {% block js%}
        <!-- BOOTSTRAP JS -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- COUNTDOWN PLUGIN -->
        <!-- bootstrap validator-->
        <script src="{% static 'js/bootstrapValidator.min.js'%}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/toastr.min.js' %}"></script>
        <script src="{% static 'js/jquery.history.js' %}"></script>
        <script type="text/javascript">
        toastr.options = {
          "closeButton": false,
          "debug": false,
          "positionClass": "toast-top-right",
          "onclick": null,
          "showDuration": "100",
          "hideDuration": "500",
          "timeOut": "1000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
        </script>
        

        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script>
            $(document).ready(function(){
                $('.btn').mouseup(function(){
                    $(this).blur()
                });
                $('a').mouseup(function(){
                    $(this).blur();
                });
                $('button').mouseup(function(){
                    $(this).blur();
                });
            });
        </script>




        {%endblock%}

        <div class="modal fade" id="error">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="error_title"></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading-modal"><!-- Place at bottom of page --></div>
       
    </body>
</html>