{% load i18n %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
        <li><a href="#">{% trans "Explore" %}</a></li>
    </ul>
    <form class="navbar-form navbar-left navbar-input-group search-form" role="search" method="get" action="{% url 'books:haystack_search' %}">
        <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">{% trans "Go!" %}</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-bell"></i></a></li>
       <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>{{ request.user.username }}</a>
           <ul class="dropdown-menu">
               <li><a href="#">{% trans "Offers" %}</a></li>
               <li><a href="#">{% trans "Books" %}</a></li>
               <li><a href="#">{% trans "Watchlist" %}</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="{% url 'usr:own_profile' %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="{% url 'usr:logout'%}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a></li>
           </ul>
       </li>

    </ul>
</div>