{% load i18n static widget_tweaks notifications_tags %}
<nav class="main-menu-navbar" role="navigation">
    <!-- BRAND START-->

    <div class="main-menu-brand">

      <a class="main-menu-brand" href="/"><img src="{%static 'img/logo.png'%}"/>
          <span class="main-menu-big">Libraring <span class="beta">(beta)</span></span>
      </a>
    </div>
    <button class="toggle-collapse-menu">
      <i class="fa fa-bars"></i>
    </button>
    <!--BRAND END -->

    <!--main_menu start-->
    <div id="main-menu">
        <!-- LEFT SIDE START-->
        <form  class="" role="search" method="get" action="{% url 'books:haystack_search' %}">
            <ul class="main-menu-left">
                <li><a href="{% url 'index' %}" class="home-button menu-item">
                    <span class="main-menu-big">{% trans "Home" %}</span>
                    <span class="main-menu-small"><i class="fa fa-home"></i></span>
                </a></li>
                <li><a href="#" class="explore-button menu-item">
                    <span class="main-menu-big">{% trans "Explore" %}</span>
                    <span class="main-menu-small"><i class="fa fa-globe"></i></span>
                </a></li>
                <li><a href="#" class="menu-item menu-add-book-button" data-toggle="modal" data-target="#book_upload_form">
                    <span class="main-menu-big">{% trans "Add book" %}</span>
                    <span class="main-menu-small"><i class="fa fa-plus"></i></span>
                </a></li>
                <li>
                  <input type="text" name="q" class="menu-search-input" placeholder="Search...">
                  <button type="submit" class="menu-search-submit">GO!</button>
                </li>
                    
            </ul>
        </form>
        <!-- LEFT SIDE END -->

        <!-- RIGHT SIDE START -->
        <ul class="main-menu-right">
            <li><a href="{% url 'usr:notifications' %}">
           {% notifications_unread as unread_count %}
              {% if unread_count %}
                 <span class="badge">{{unread_count}}</span>
              {% endif %}
            <i class="fa fa-bell"></i></a></li>
           <li class="dropdown">
               <a href="#" class="dropdown-toggle username-button menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                   <span class="main-menu-big">{{ request.user.username }}</span>
                   <span class="main-menu-small"><i class="fa fa-user"></i></span>
               </a>
               <ul class="dropdown-menu">
                   <li><a href="{% url 'books:main_page' 'books' %}">{% trans "My Books" %}</a></li>
                   <li><a href="{% url 'books:main_page' 'bought' %}">{% trans "Bought books" %}</a></li>
                   <li role="separator" class="divider"></li>
                   <li><a href="{% url 'books:main_page' 'offers' %}">{% trans "My Offers" %}</a></li>
                   <li><a href="{% url 'books:main_page' 'watchlist' %}">{% trans "My Watchlist" %}</a></li>
                   <li role="separator" class="divider"></li>
                   <li><a href="{% url 'usr:own_profile' %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a></li>
                   <li role="separator" class="divider"></li>
                   <li><a href="{% url 'usr:logout'%}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a></li>
               </ul>
           </li>

        </ul>
        <!-- RIGHT SIDE END -->
    </div>
    <!-- main_menu END -->
</nav>