{% extends 'before_login/framework/base.html' %}

{% block title %}Brainstorm{% endblock%}

{% block content %}

<div class="row main-row">
	<div class="col-xs-6 col-xs-offset-3">
		<h3>Brainstorm</h3>

			<form action="mailto:brainstorm@libraring.co.uk" enctype="text/plain" method="post">
				
				<p>Your name:<input name="Name" type="text" id="Name" size="42">
				</p>
					<p>E-mail address:<input name="E-mail" type="text" id="E-mail" size="39">
					</p>
						<p>Comment:</p>
							<p><textarea name="Comment" cols="55" rows="5" id="Comment"></textarea>
							</p>
									<p><input type="submit" name="Submit" value="Submit">
									</p>
			</form>
<br>
		<h4>Your opinion is important to Us!</h4>
		
		<h5>The <span class="brand">Libraring</span> team</h5>
	</div>
</div>
	
{% endblock %}
