{% extends 'before_login/framework/base.html' %}

{% block title %}Our Team{% endblock%}

{% block content %}

<div class="row main-row">
	<div class="col-xs-6 col-xs-offset-3">
		<h3>Our team</h3>
		<p>One of the most tiring duties of a university student is gathering his/her course related books. Every member of our team study as a university student and all of us know that finding and buying a rear book during a semester is one of the most complicated and expensive hardships that a student often encounters during his/her studies.</p>

		<p>Therefore we created a platform which opens a new online market with infinite possibilities to exchange any books you may need during your academic years.</p>
		<h4>so get <span class="brand">Libraring!</span></h4>
		<p>Founders: 
		<br>
		Gabor Kovesdi, head of Operations
		<br>
		Balint Kulcsar, head of Finance
		<br>
		Tamas Sztanka-Toth, head of Technology
		</p>
			  <h5>The <span class="brand">Libraring</span> team</h5>
	</div>
</div>
	
{% endblock %}
