{% extends 'before_login/framework/base.html' %}

{% block title %}Terms and Conditions{% endblock%}

{% block content %}

<div class="row main-row manager-page-content">
	<div class="col-xs-6 col-xs-offset-3">
		<h3>Terms and Conditions -  under development</h3>
		<p>Version: 0.9, Last edited: 2nd of October, 2014<p>
		<h4>1. KEY TERMS</h4>
		<h5>1.1</h5>


<p>Libraring, located and established in London, England ( also referred to as “we”, “us” or “our”).</p>
<h5>1.2. Services</h5> <p>The services offered by Libraring through the Website as set forth in Clause 3 of these Terms and Conditions.</p>
<h5>1.3. Terms and Conditions</h5><p>These terms and conditions.</p>
<h5>1.4. User</h5><p>A natural person or legal entity making use of the Services that are offered through the Website.</p>
<h5>1.5</h5><p>Website: the website offered by Libraring at http://www.libraring.co.uk</p>
<h4>2. GENERAL</h4>
<h5>2.1</h5> <p>The Terms and Conditions govern the User’s use of this Website and the Services offered by Libraring. By using the Website and/or the Services, the User acknowledges to have read, understood and agrees to be bound by these Terms and Conditions and to comply with all applicable laws and regulations. If you do not agree with the Terms and Conditions, you should not use the Services and /or access the Website.</p>
<h5>2.2</h5><p>Libraring reserves the right to make changes to the Website, the Services and the Terms and Conditions at any time. Such amended Terms and Conditions shall be effective upon posting on the Website or through some other reasonable method. Libraring reserves the right to define ‘reasonable method’ in any form it sees it fit. Libraring will take reasonable efforts to post notices regarding any changes to these Terms and Conditions. Please check the Terms and Conditions published on this Website regularly to ensure that you are aware of all the terms governing the Website and the Services.</p>
<h4>3. LIBRARING SERVICES</h4>
<h5>3.1</h5><p>The Services offered by Libraring through its Website solely exist of providing an online platform which facilitates Users to trade anything (primarily books) to other Users. The Services enable Selling users to upload books to our Website and enable other Buying users to reserve (buy) these books on the Website. All Users may be either or both sellers and buyers at any time. Users can make arrangements whether the the Selling User will deliver the book to the Buying User or that the Selling User will hold the reserved book on behalf of the Buying User and a pick-up in person is arranged.</p>
<h5>3.2</h5><p>Libraring is not a party to any agreements entered into between Selling and Buying Users, nor is a second-hand book shop or provider of any sort of textbooks or financial services.</p>
<h5>3.3</h5><p>Libraring has no control over the conduct of its Users, Books uploaded to the Website by Users and therefore cannot take any sort of resposiblity. Libraring disclaims all liability in this regard.</p>
<h4>4. USER</h4>
<h5>4.1</h5><p>The Services offered by Libraring are available only to individuals who are 18 years  or older and are currently enrolled at universities enlisted in our database who can form legally binding contracts under applicable law and who have registered as a User on the Website by creating a Libraring account.</p>
<h5>4.2</h5><p>The User or any visitor of the Website represents and warrants that all information he submits to the Website is accurate, truthful, lawful and does not infringe any rights of third parties. The account-holder user also represents and warrants that his/her provided university email is of her own and can be used as a form of identification. The User or any visitor of the Website warrants that it will not use the Service to:
· send any unsolicited mass mailings ("spam"); launch or use any automated means or process, including but not limited to “spiders”, “robots”, “load testers” etc., for sending more communication than a natural person could reasonably produce or to create Users accounts;
· collect or store personal information from other Users other than the information collected during the normal course of using the Service;
· threaten or harass any person or entity;
· gain or attempt to gain unauthorized access to any computer system, server, network or hardware of Libraring, other Users or any other third party;
· in any way that could overload, damage, disable, disrupt or harm the Service or interfere with any other User’s use of the Service;
· adapt, modify or reverse engineer any of the systems or protocols of uploaded material (books);
· reformat, resell, or redistribute the Service in any way without the explicit consent of Libraring in writing.</p>
<h5>4.3</h5><p>If a User does not respect the Terms and Conditions or any reasonable instructions from Libraring, Libraring can, at its sole discretion and without any compensation, deny the User any further access to the Website and/or any of its Services. Any attempt by a User to damage the Website or to undermine the legitimate operations of the Services may be a violation of criminal and civil laws and should any such attempt be made, Libraring reserves the right to seek damages from any such User to the fullest extent permitted by law.</p>
<h4>5. SELLING USER</h4>
<h5>5.1</h5><p>When a User decides to act as a Selling User it must provide at least the following information:
<h6>(a)</h6><p>Sufficient information about the uploaded book: (i) an accurate description of the state of the book; (ii) his phone number or any form of contact data other than the messaging service provided by the website, if required by the buyer; (iii) his payment preference; (iii) his delivery preference; (iv) following through either his bank or paypal details.</p> 
<h6>(b)</h6>
<h5>5.2</h5><p>A Selling user may accept an offer submitted to them by a Buying User, which may be referred to as a Deal. Upon acceptance of a Deal the users must proceed with payment and the agreed method of delivery agreed in the Deal, the Selling User warrants to supply the Promised book in the condition agreed in the Deal by the Buying User, within the delivery time indicated by the Selling User on the Website and confirmed in the Deal.</p>
<h5>5.3</h5><p>To ensure the quality and user experience of the Website and its Services Libraring can, at its sole discretion and without any compensation, deny the Users any further access to the Website and/or any of the Services if a User does not meet the requirements stipulated in Clause 5.2 or does not respect the Terms and Conditions.</p>
<h5>5.4</h5><p>Selling Users must understand and agree that they are solely responsible for determining their applicable tax reporting requirements and any applicable taxes for the income they receive by selling their books to other Users through the Website.</p>
<h5>5.5</h5><p>Selling Users accept as third-party beneficiaries and are thereby entitled to enforce directly against Buying Users, the following provisions:</p>
<h6>(a)</h6><p>The representations and warranties provided to Selling Users by Buying Users as set forth in Clause 6.3.</p>
<h4>6. CONTENT</h4>
<h5>6.1</h5><p>Users are solely responsible and liable for the content they upload and shall refrain from uploading restricted content to the Website. If a User receives restricted content from another User they shall refuse to engage in any form of conversation and therefore trade with the other User and immediately inform Libraring about such content.</p>
<h5>6.2</h5><p>Content is restricted if it:</p>
<h6>(a)</h6><p>violates or infringes a third party’s rights, including but not limited to privacy, publicity or any intellectual property rights (including any copyright, patent, design right, trademark, trade secret or any other proprietary rights);</p>
<h6>(b)</h6><p>contains pornographic or obscene content;</p>
<h6>(c)</h6><p>contains information which is false, inaccurate, misleading, harassing, racially or ethically offensive, harmful to minors, libellous or defamatory;</p>
<h6>(d)</h6><p>contains trojan horses, viruses, worms or other harmful or destructive software code;</p>
<h6>(e)</h6><p>is contrary to or in violation of any applicable law or regulations, including any applicable export control laws and regulations.</p>
<h5>6.3</h5><p>A Buying User agreeing to buy from a Selling User represents and warrants to the Selling User that he has all rights to resell his/her book without infringing or violating any third party rights, including without limitation, any privacy rights, publicity rights, intellectual property rights (including any copyright, patent, design right, trademark, trade secret or any other proprietary rights) or any other proprietary rights.</p>
<h5>6.4</h5><p>Libraring does not claim any ownership rights of the content and has no obligation to review the any content and can in no way be held responsible for the content uploaded to its Website or Services. Notwithstanding the foregoing Libraring can remove and/or block any content uploaded to its Website or Services for any reason and without notice.</p>
<h4>7. DEAL</h4>
<h5>7.1</h5><p>To buy from a Selling User, the Buying User has to follow the online ordering process on the Website. This ordering process consists of the following steps:</p>
<h6>(a)</h6>
<h6>(b)</h6>
<h6>(c)</h6>
<h6>(d) Payment</h6><p>The Buying User has to pay the total amount indicated on the aforementioned book profile if not otherwise agreed by the two users through the chat. The Buying User pays the full amount of credit agreed in the Deal in any way it wishes and has been agreed between the two users. As Libraring does not participate in any way in the transaction it in no way be held responsible for any financial transactions agreed on its Website or through its services.</p>
<p>(i) After the two Users has got to an agreement the Buying User is obliged to pay within 7 days if not agreed otherwise. If the payment does not go through in the following 7 days, Libraring reserves the right to deny access to the website for the Buying User.</p>
<h6>(e) Pick-up & shipping.</h6><p>The Buying User and Selling User mutually agree whether the Buying User at an agreed location will meet with the Selling user to pick up the Book or that the Book will be shipped to the Buying User.</p>
<p>After the two Users has got to an agreement and the payment has gone through the Selling User is obliged to deliver the aforementioned book in a way it has been agreed to and must carry such action out in no more than 7 days. If the delivery for any reason does not happen within 7 days Libraring reserves the right to deny access to its website for the Selling User and reserves the right to share any information regarding the Seller with the Buyer and authorities as his actions may be considered criminal actions under British Law.</p>
<p>Libraring does not participate in any way in these transactions and therefore can in no way be held responsible for any damaged caused by these transactions and therefore at no time is obliged to compensate the Buying User as set before in Clause 2.</p><h3>
Terms and Conditions are under development, please disregard any minor mistakes as it is a mere sketch.</h3>
	</div>
</div>
	
{% endblock %}