{% extends "before_login/framework/base.html"%}
{%block title%}Libraring{%endblock%}
{%block content%}
{% load i18n thumbnail highlight%}

<style>
    body{
        background: url('/static/img/index_background.jpeg') 50% 0px / cover no-repeat fixed;
        min-height:100%;
    }
    
</style>

    <!-- INDEX DIV START -->
    <div id="index-page" class="row main-row">
        <div class="col-md-4 col-md-offset-1">
            <div class="index-page-content index-page-login">
                <h3>Login</h3>
                <div class="index-page-content-body">
                    <form class="form-horizontal" action="{% url 'usr:login' %}" method="post">
                        {% csrf_token%}
                        <div class="form-group">
                            <label for="id_username" class="col-sm-3 control-label">{% trans "Username" %}</label>
                            <div class="col-sm-8 col-sm-offset-1">
                                <input type="text" id="id_username" class="form-control" placeholder="username" name="username"/>                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_password" class="col-sm-3 control-label">Password:</label>
                            <div class="col-sm-8 col-sm-offset-1">
                                <input type="password" id="id_password" class="form-control" placeholder="password" name="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                            </div>    
                        </div>
                    </form>
                </div>
                <div class="page-content-body">
                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-8">
                            <p>{% trans "Not registered yet?" %}<p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-8">
                            {% url 'register' as reg_url %}
                            <p>{% blocktrans %}You can register <a href="{{ reg_url }}">here</a>!{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
// Popup window code
function newPopup(url) {
    popupWindow = window.open(
        url,'popUpWindow','height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>
            <div class="index-page-content index-page-share">
                <h3>{% trans "Share our project!" %}</h3>
                
                <a href="mailto:" title="Share via Email" target="_blank" class="btn btn-email btn-social-share"><i class="fa fa-envelope"></i></a>
                <a href="JavaScript:newPopup('https://twitter.com/home?status=check%20out%20Libraring%20%40%20http://www.libraring.co.uk');" title="Share on Twitter" class="btn btn-twitter btn-social-share" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href='JavaScript:newPopup("https://www.facebook.com/sharer/sharer.php?u=http://www.libraring.co.uk");' title="Share on Facebook" target="_blank" class="btn btn-facebook btn-social-share"><i class="fa fa-facebook"></i></a>'
                <a href='JavaScript:newPopup("https://plus.google.com/share?url=http://www.libraring.co.uk");' title="Share on Google+" target="_blank" class="btn btn-googleplus btn-social-share"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="index-page-content">
                <h3>{% trans "Latest uploads" %}</h3>
                    {% comment %}<i class="fa fa-arrow-right slider-navigation"></i>{% endcomment %}
                <div class="before-login-book-container">
                    {% for book in books %}
                            <div class="thumbnail">
                            {% thumbnail book.image "180x270" crop="center" as im%}
                                <img src="{{im.url}}"/>
                            {% endthumbnail %}
                            <div class="caption">
                                <p>{{book.title}}</p>
                                {% trans "Goal price:" %} &pound;{{book.price}}
                          </div>
                          </div>
                    {% endfor %}
                </div>

                    {% comment %}<i class="fa fa-arrow-left slider-navigation"></i>{%endcomment %}
            </div>
        </div>
    </div>
    <!-- INDEX DIV END -->

{%endblock%}
