{% load i18n static %}
<nav class="main-menu-navbar">
    <!-- BRAND START-->

    <a class="main-menu-brand" href="/"><img src="{%static 'img/logo.png'%}"/>
        <span class="main-menu-big">Libraring <span class="beta">(beta)</span></span>
    </a>
    <!--BRAND END -->

    <div id="main-menu">

        <ul class="main-menu-left">
            <li><a class="main-menu-item" href="{% url 'manager:our_team' %}">{% trans "Our team" %}</a></li>
            {% comment %}<li><a class="main-menu-item" href="{% url 'manager:tour' %}">{% trans "Tour" %}</a></li>{% endcomment %}
            <li><a class="main-menu-item" href="{% url 'manager:brainstorm' %}">{% trans "Brainstorm" %}</a></li>
        </ul>
        <ul class="main-menu-right">
            <li><a class="main-menu-item" href="{% url 'register' %}">{% trans "Register" %}</a></li>
        </ul>
    </div>
</nav>