{% extends "before_login/registration/register_wizard_base.html" %}
{% load widget_tweaks %}

{% block registration_content %}
	<form action="" method="post" class="form-horizontal" role="form" id="registration_person_form">
	{% csrf_token %}
	{{wizard.management_form}}
    {% with form=wizard.form %}	
		{%block compulsory_data %}
		<p>Additional personal data - compulsory fields</p>
		<div class="form-group">
			{{ form.title.errors }}
			<label for="id_title" class="col-sm-3 control-label">Title:</label>
			<div class="col-sm-3">
				{% render_field form.title class='form-control' placeholder=form.title.label %}
			</div>
		</div>
        <div class="form-group">
			{{ form.email.errors }}
			<label for="id_email" class="col-sm-3 control-label">Email address:</label>
			<div class="col-sm-3">
				{% render_field form.email class='form-control' placeholder=form.email.label %}
			</div>
		</div>
		<div class="form-group">
			{{ form.first_name.errors }}
			<label for="{{form.first_name.id_for_label}}" class="col-sm-3 control-label">
				{{form.first_name.label}}
			</label>
			<div class="col-sm-5">
				{% render_field form.first_name class='form-control' placeholder=form.first_name.label %}
				
			</div>
		</div>
		<div class="form-group">
			{{ form.last_name.errors }}
			<label for="{{form.last_name.id_for_label}}" class="col-sm-3 control-label">
				{{form.last_name.label}}
			</label>
			<div class="col-sm-5">
				{% render_field form.last_name class='form-control' placeholder=form.last_name.label %}
			</div>
		</div>
        <div class="form-group">
            <h4 class="control-label col-sm-3">Location</h4>
        </div>
        <div class="form-group">
			{{ form.country.errors }}
			<label for="{{form.country.id_for_label}}" class="col-sm-3 control-label">
				Country
			</label>
			<div class="col-sm-5">
				{% render_field form.country class='form-control' placeholder=form.country.label %}
			</div>
		</div>
        <div class="form-group">
			{{ form.city.errors }}
			<label for="{{form.city.id_for_label}}" class="col-sm-3 control-label">
				City
			</label>
			<div class="col-sm-3">
				{% render_field form.city class='form-control' placeholder=form.city.label %}
			</div>
		</div>

        <div class="form-group">
			{{ form.postcode.errors }}
			<label for="{{form.postcode.id_for_label}}" class="col-sm-3 control-label">
				Postcode
			</label>
			<div class="col-sm-3">
				{% render_field form.postcode class='form-control' placeholder=form.postcode.label %}
			</div>
		</div>


		{% comment %}
		<div class="form-group">
			{{ form.person_type.errors }}
			<label for="id_person_type" class="col-sm-3 control-label">Whats your occupation?</label>
			<div class="col-sm-9">
				<div class="btn-group" data-toggle="buttons">
				{% for radio in form.person_type%}
					<label class="btn btn-default {%if forloop.first%}active{%endif%}">
						{{radio.tag}} {{radio.choice_label}}
					</label>
				{% endfor%}
				</div>
			</div>
		</div>

		{% endcomment %}
		{% endblock %}
		{% block optional_data %}
		<p>Additional personal data - optional fields</p>
		<div class="form-group">
			{{ form.date_born.errors }}
			<label for="{{form.date_born.id_for_label}}" class="col-sm-3 control-label">When were you born?</label>
			<div class="col-sm-4">
				{% render_field form.date_born class='form-control' placeholder=form.date_born.label %}
			</div>
		</div>
		<div class="form-group">
			{{ form.about.errors }}
			<label for="{{form.about.id_for_label}}" class="col-sm-3 control-label">{{form.about.label}}</label>
			<div class="col-sm-9">
				{% render_field form.about class='form-control' placeholder=form.about.label %}
			</div>
		</div>
		{% endblock %}	
		<div class="form-group">	    
 		   	<div class="col-sm-9 col-sm-offset-3">
				<button type="submit" class="btn btn-primary">To the next step</button>
			</div>
		</div>
	{%endwith%}
	</form>
{% endblock %}
