{%extends "before_login/framework/base.html"%}
{% block title %} {{project.name}} registration{% endblock %}
{%block content%}
	<div class="row main-row">
		<div class="col-md-8 col-md-offset-2">
				<div id="registration_overview">
					<h3><span class="brand">{{project.name}}</span>, creating new account</h3>
					{% block registration_overview %}
						{% if wizard %}
						<h3>Step {{wizard.steps.step1}} of {{ wizard.steps.count}}</h3>
						{% endif%}
					{% endblock %}
				</div>
				<div id="registration_content">
					{%block registration_content%}{% endblock %}
				</div>
				
		</div>
	</div>
{%endblock%}

{%load staticfiles%}
{% block js %}
{{block.super}}
    <script src="{% static 'js/bootstrapValidator.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/select2.js'%}"></script>

    <script src="{% static 'js/usr/validators.js' %}"></script>	
    <script type="text/javascript" src="{% static 'js/usr/main.js' %}"></script>

{% endblock %}