{% extends "before_login/registration/register_wizard_base.html" %}
{% load widget_tweaks i18n %}
{% block registration_content %}
  <form id="registration_user_form" action="" method="post" autocomplete="off" class="form-horizontal" role="form">
	{% csrf_token %}
	{{wizard.management_form}}
	{% with form=wizard.form %}
		<p>{% trans "Please enter the wanted username and password" %}</p>
		
	    {% for field in form%}
		  <div class="form-group {%if field.errors %}has-feedback has-error{%endif%}">
			<label for="{{field.id_for_label}}" class="col-sm-3 control-label">
			      {{field.label}}
			</label>
			<div class="col-md-6">
			      {% render_field field placeholder=field.label class='form-control' autocomplete='off'%}
			      <span class="help-block">{{field.help_text}}</span>
			</div>
		  </div>
	    {% endfor %}
	    <div class="form-group">
		  <div class="col-md-offset-3 col-md-6">
			<button id="id_submit" type="submit" class="btn btn-primary">{% trans "To the next step" %}</button>
		  </div>
	    </div>
		
	{% endwith %}
  </form>
{% endblock %}
