<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <title>{%block title%}{%endblock%}</title>
        <meta charset="UTF-8" />
        
       {% include 'framework/head.html'%}
    </head>
    <body>
        <!-- Facebook -->
            <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=202997949770698&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <!-- end Facebook -->
        <!-- GOOGLE ANALYTICS COMES HERE -->

        <!-- CONTENT START -->
        <section id="container">
            <!-- HEADER START -->
            <nav class="header navbar navbar-fixed-top" role="navigation">
                <!-- NAVBAR HEADER START -->
                <div class="navbar-header">
                    <!-- SMALL RESOLUTION MENU BUTTON START -->
                    {%comment%}<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>{%endcomment%}
                    <!-- SMALL RESOLUTION MENU BUTTON END -->
                    <!-- BRAND START -->
                    <a class="navbar-brand" href="http://www.libraring.co.uk"><img src="{%static 'img/logo.png'%}"/>LIBRARING</a>
                    <!-- BRAND END -->
                </div>
                <!-- NAVBAR HEADER END -->
                <!-- HEADER MENU -->
                
                {% include 'after_login/framework/menu.html'%}
                <!-- HEADER MENU END -->
            </nav>
            <!-- HEADER END -->

            <!-- PAGE CONTENT START -->
            <div id="content">
                <section id="main-content">
                    <section class="wrapper">
                        <div id="body" class="row main-row">
                            <div class="col-md-10 col-md-offset-1">
                         {%block content%}{%endblock%}</div>
                        </div>
                    </section>
                </section>
            </div>
            <!-- PAGE CONTENT END -->

            <!-- FOOTER START -->
            <div id="footer">

            </div>
            <!-- FOOTER END -->
        </section>
        <!-- CONTENT END -->

        
        <div class="modal fade" id="error">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="error_title"></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading-modal"><!-- Place at bottom of page --></div>
       
    </body>
</html>
