{% extends "before_login/framework/base.html"%}
{%block title%}Libraring{%endblock%}
{%block content%}

    <!-- INDEX DIV START -->
    <div id="index-page" class="row main-row">
        <div class="col-md-4 col-md-offset-2">
            <div class="index-page-content">
            <h3>Login</h3>
            <div class="index-page-content-body">
                <form class="form-horizontal" action="/usr/login/" method="post">
                    {% csrf_token%}
                    <div class="form-group">
                        <label for="id_username" class="col-sm-3 control-label">Username:</label>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input type="text" id="id_username" class="form-control" placeholder="username" name="username"/>                                
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="col-sm-3 control-label">Password:</label>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input type="password" id="id_password" class="form-control" placeholder="password" name="password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>    
                    </div>
                </form>
                </div>
        </div>
            <div class="index-page-content">
                <h3>Share the project</h3>
                <div id="share" class="index-page-content-body">
                                         <a href="mailto:" title="Share via Email" target="_blank" class="btn btn-email btn-social-share"><i class="fa 
                                        fa-envelope"></i> Email</a>
                                    
                                    <a href="https://twitter.com/intent/tweet?url=http://url.com&text=Playing with dotty grids'
                    text&hashtags=DottyGrids," title="Share on Twitter" class="btn btn-twitter btn-social-share"><i class="fa
                    fa-twitter"></i> Twitter</a>
                                    <a href="http://www.facebook.com/sharer/sharer.php?u=wild.maths.org" title="Share on Facebook" target="_blank"
                    class="btn btn-facebook btn-social-share"><i class="fa fa-facebook"></i> Facebook</a>
                                    <a href="http://plus.google.com/share?url='+url_to_share+'" title="Share on Google+" target="_blank" class="btn 
                        btn-googleplus btn-social-share"><i class="fa fa-google-plus"></i> Google+</a>
                    
                    
                    
                </div>
        </div>
            <div class="index-page-content">
                <h3>About</h3>
                <div class="index-page-content-body">
                    coming soon...
                </div>
            </div>
                            
                            <div class="index-page-content">
                                <h3>More info</h3>
                                <div class="index-page-content-body">
                                    For more information contact: <a href="mailto:info@libraring.co.uk">info@libraring.co.uk</a>
                                </div>
                            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>Like us on facebook!</h3>
            <div class="index-page-content">
                <div class="index-page-content-body">
                   <div class="fb-like-box" data-href="https://www.facebook.com/Libraring"  data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- INDEX DIV END -->

{%endblock%}
